<ion-view view-title="Wyze" class="gn-activity-detail-view gn-see-who-screen">
  	<ion-content class="activityContainer" >  
  	<ion-refresher class="pull-down-refresher" pulling-text="Pull to refresh..." on-refresh="refreshReadUsers()"></ion-refresher>
 	<!-- <ion-header-bar class="bar-subheader genie-search-input" style="top:0">   </ion-header-bar> -->
    	<section class="" ng-if="readUsersList.userList.length>0 && usersLoaded==true">
            <div class="user-completion-table-wrapper">
                <table class="user-completion-data">
                    <tr>
                        <td><Span>Index</Span></td>
                        <td>User Name</td>
                        <td>User Type</td>
                        <td><Span>Read</Span></td>
                        <td><Span>Like</Span></td>
                        <td ng-if="activityDetailItem.activityType=='assignment'"><Span>Completed</Span></td>
                        <td ng-if="activityDetailItem.isPolling==true"><Span>Polling Answers</Span></td>
                    </tr>
                    <tr ng-repeat="(key, user) in readUsersList.userList track by $index">
                        <td><span>{{$index+1}}</span></td>
                        <td>
                            <Span>{{user.firstName}}</Span>&nbsp;
                            <Span>{{user.lastName}}</Span>
                        </td>
                        <td>{{user.userType}}</td>
                        <td><span>Yes</span></td>
                        <td><Span>{{user.like==true?'Yes':'No'}}</Span></td>
                        <td ng-if="activityDetailItem.activityType=='assignment'"><Span>{{user.completed==true?'Yes':'No'}}</Span></td>
                        <td ng-if="activityDetailItem.isPolling==true"><Span>{{user.pollingAnswers | pollingAnswers}}</Span></td>
                    </tr>
                </table>
            </div>
        </section>
        <div class="gn-no-activities" ng-if="readUsersList.userList.length<1 && usersLoaded==true">
            <div class="alert-msg">
                <i class="ion-alert-circled"></i>
                <!-- <p>If you think thats not the case please contact your school. Make sure you are enrolled to recive activities for your child</p> -->
            </div>
            <p>No data to show for this view yet.</p>
        </div>
    		<!-- <ion-item class="card gn-feed" ng-if="readUsersList.userList.length<1 && usersLoaded==true">
    			<div>Nothing to show here</div>
    		</ion-item>
    	</ion-list> -->
    </ion-content>
</ion-view>