
<ion-view view-title="Wyze" class="gn-activity-detail-view">
	<ion-content>
		<ion-refresher class="pull-down-refresher" pulling-text="Pull to refresh..." on-refresh="refreshActivityDetailItem()"></ion-refresher>
		<ion-list ng-if="checkActivityLoaded()==true">
			<ion-item class="card gn-feed">
				<div class="item item-text-wrap">
					<p class="gn-date-stamp">
						<span class="due-today-stamp" ng-class="{'marked-done':isDueDateToday(activityDetailItem)==false}"
                      		ng-if="showDueDateFormat(activityDetailItem)==true">Due: Today</span>
                      	<span class="due-today-stamp" ng-class="{'marked-done':isDueDateToday(activityDetailItem)==false}"
                      		ng-if="showDueDateFormat(activityDetailItem)==false">Due: {{activityDetailItem.endDate | date : 'dd MMM yyyy'}}
                      	</span>
						<small class="non-action-text">{{activityDetailItem.updatedTime | date : 'dd MMMM yyyy h:mm a'}}</small>
						<!-- <small class="non-action-text">999 Views</small> -->
						<!-- for teacher to edit and delete:: starts -->
						<small ng-if="userLoginData.genieId==activityDetailItem.activityOwner && userLoginData.userType=='teacher'" class="action-icon">
							<i class="ion-edit" ng-click="goToEditActivity(activityDetailItem)"></i>
						</small>
						<small ng-if="userLoginData.genieId==activityDetailItem.activityOwner && userLoginData.userType=='teacher'" class="action-icon">
							<i class="ion-android-close" ng-click="deleteActivity()"></i>  
						</small>
						<!-- for teacher to edit and delete:: ends -->
						<!-- for parents like and ticked::starts -->
						<small class="action-icon" ng-if="userLoginData.genieId!=activityDetailItem.activityOwner">
							<i class="ion-android-favorite-outline" ng-click="likeUnlikeActivity(true)" 
                            ng-touch="likeUnlikeActivity(true)" ng-if="activityDetailItem.like==false"></i>  
							<i class="ion-android-favorite" ng-click="likeUnlikeActivity(false)" 
                            ng-touch="likeUnlikeActivity(false)" ng-if="activityDetailItem.like==true"></i>  
						</small>
						<small class="action-icon" ng-if="userLoginData.genieId!=activityDetailItem.activityOwner 
									&& activityDetailItem.activityType=='assignment'">
							<i class="ion-android-done" ng-click="completeUncompleteActivity(true)" 
							ng-touch="completeUncompleteActivity(true)" ng-if="activityDetailItem.completed==false"></i>  
							<i class="ion-android-done selected" ng-click="completeUncompleteActivity(false)" 
							ng-touch="completeUncompleteActivity(false)"  ng-if="activityDetailItem.completed==true"></i>  
						</small>
						<!-- for parents like and ticked:: ends -->
					</p>
					<p class="gn-feed-content pre-line-content">{{activityDetailItem.description}}</p>
					<p class="gn-feed-indentifier">
						<span class="gn-feed-filters">
							<button class="button button-small" name="Note" 
							ng-class="{'genie-filter-button1':$index==0,'genie-filter-button2':$index==1,'genie-filter-button3':$index==2,
							'genie-filter-button4':$index==3,'genie-filter-button5':$index==4}"
							ng-repeat="group in groupsData(activityDetailItem.groupIdList) track by $index">{{group.displayGroupName}}
							</button>
							<button class="button button-small" name="Note" 
										ng-if="showInstituteName(activityInstituteNames, activityDetailItem.groupIdList)" 
											ng-repeat="inst in activityInstituteNames track by $index">
									{{inst.displayName}}
							</button>
							<button class="button button-small" name="Note" ng-if="userLoginData.userType=='parent'"
							ng-repeat="child in activityChildData track by $index">{{child.firstName}}</button>
							<button class="button button-small" name="Note">{{activityDetailItem.teacherName}}</button>
						</span>
						<!-- activity Type :: starts -->
						<button class="button activity-type-identifier button-note button-small" name="Note"  ng-if="activityDetailItem.activityType=='note'">
							<span>Note</span>
						</button>
						<button class="button activity-type-identifier button-test button-small" name="Test" ng-if="activityDetailItem.activityType=='test'">
							<span>Test</span>
						</button>
						<button class="button activity-type-identifier button-assignment button-small" name="Assignment" ng-if="activityDetailItem.activityType=='assignment'">
							<span>Assignment</span>
						</button>
						<!-- activity Type :: ebds -->
						<!-- <button class="button button-balanced button-small" name="Note">Vidya Vallay</button>
						<button class="button button-outline button-balanced button-small" name="Note">Note</button> -->
					</p>
					
				</div>
				
			</ion-item>
			<!--  attachement UI:: starts -->
			<ion-item ng-if="activityDetailItem.attachments.length>0" class="detail-attachment-item" style="background: none;
    padding: 0;
    border: none;">
			<div class="attachment-detailed-view">
				<div class="attachment-img-row" ng-if="checkImagesInActivity(activityDetailItem.attachments)>0">
                	<table class="attachment-img-row cursor-pointer" ng-click="downloadAttachment(attachment)" 
                			ng-touch="downloadAttachment(attachment)" 
                			ng-repeat="attachment in activityDetailItem.attachments | ImagesOnly track by $index">
                    	<tr>
                          	<td>
                            	<img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment">
                          	</td>
                        </tr>
                	</table>
                </div>
				<!-- 
				<div class="attachment-img-row" ng-if="checkImagesInActivity(activityDetailItem.attachments)==1">
                	<table class="attachment-img-row" ng-repeat="attachment in activityDetailItem.attachments | ImagesOnly track by $index">
                    	<tr>
                          	<td>
                            	<img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment">
                          	</td>
                        </tr>
                	</table>
                </div>
					<div class="gn-dual-attachment-view" ng-if="checkImagesInActivity(activityDetailItem.attachments)>2">
                	<div class="attachment-img-row" ng-repeat="attachment in activityDetailItem.attachments | ImagesOnly track by $index">
                    	<table>
                        	<tr>
                            	<td ng-if="$index==0">
                                        <img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment">
                                </td>
                                    <td ng-if="$index==1">
                                        <img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment">
                                        <div class="see-more-img"><span>+{{checkImagesInActivity(activityDetailItem.attachments)-1}}</span></div>
                                    </td>
                                </tr>
                             </table>
                          </div>
                  	</div>  
					<div class="gn-dual-attachment-view"  ng-if="checkImagesInActivity(activityDetailItem.attachments)==2">
                          <div class="attachment-img-row" ng-repeat="attachment in activityDetailItem.attachments | ImagesOnly track by $index">
                           <table>
                                <tr>
                                   <td><img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment"></td>
                                </tr>
                             </table>
                          </div>
                  	</div>
 				-->
                  <div class="gn-dual-attachment-view">
                      <div class="attachment-thumb-row cursor-pointer clearfix" ng-if="$index<2" ng-click="downloadAttachment(attachment)" 
                      		ng-touch="downloadAttachment(attachment)" ng-repeat="attachment in activityDetailItem.attachments | NonImageFiles track by $index">
                        <div class="attachment-thumb">
                          <img ng-src="{{showFileTypeImage(attachment.fileType)}}" alt="attachment">
                        </div>
                        <div class="attachment-name">{{attachment.fileName | limitTo: 15}}</div>
                      </div>
                    </div>
                    <div class="gn-dual-attachment-view">
                      <div class="attachment-thumb-row cursor-pointer clearfix" ng-if="$index>1 && $index<4" 
                      			ng-click="downloadAttachment(attachment)" 
                      		ng-touch="downloadAttachment(attachment)" ng-repeat="attachment in activityDetailItem.attachments | NonImageFiles track by $index">
                        <div class="attachment-thumb">
                          <img ng-src="{{showFileTypeImage(attachment.fileType)}}" alt="attachment">
                        </div>
                        <div class="attachment-name">{{attachment.fileName | limitTo: 15}}</div>
                      </div>
                    </div>
                    <div class="gn-dual-attachment-view">
                      <div class="attachment-thumb-row cursor-pointer clearfix" ng-if="$index>3" ng-click="downloadAttachment(attachment)" 
                      		ng-touch="downloadAttachment(attachment)" ng-repeat="attachment in activityDetailItem.attachments | NonImageFiles track by $index">
                        <div class="attachment-thumb">
                          <img ng-src="{{showFileTypeImage(attachment.fileType)}}" alt="attachment">
                        </div>
                        <div class="attachment-name">{{attachment.fileName | limitTo: 15}}</div>
                      </div>
                    </div>
            </div>

<!-- 				<div class="gn-dual-attachment-view">
                     <div class="attachment-thumb-row clearfix"  
                     		ng-repeat="attachment in activityDetailItem.attachments | NonImageFiles track by $index">
                        <div class="attachment-thumb">
                        	<img ng-src="../img/attahement-types/pdf_attachment.svg" alt="attachment">
                        </div>
                        <div class="attachment-name">{{attachment.attachment}}}</div>
                      </div>
                    </div> -->
				
			<!-- </div> -->
			</ion-item>
			<ion-item class="card gn-feed" ng-if="activityDetailItem.isPolling">
				<div class="item item-text-wrap">
					<h3 class="text-uppercase">{{activityDetailItem.pollingType=='single'?'Single Choice Poll':'Multiple Choice Poll'}}</h3><br>
					<p class="gn-feed-content">{{activityDetailItem.description}}</p>
					<!-- poll::  teacher view:: starts -->
					<ul class="list" ng-if="userLoginData.genieId==activityDetailItem.activityOwner && userLoginData.userType=='teacher'">
						<li class="row clearfix item item-checkbox gn-poll-view poll-view-teacher" ng-repeat="polling in activityDetailItem.pollingOptions track by $index">
							<div class="gn-poll-option col">
								<label class="checkbox">
									<input type="checkbox">
								</label>
							</div>
							<div class="gn-poll-option-text col">{{polling}}</div>
						</li>
					</ul>
					<!-- poll::  teacher view:: ends -->
					<!-- poll::  parent view:: starts -->
					<ul class="list" ng-if="activityDetailItem.pollingType!='single' && userLoginData.genieId!=activityDetailItem.activityOwner">
						<li class="row clearfix item item-checkbox gn-poll-view" ng-repeat="polling in activityDetailItem.pollingOptions track by $index">
							<div class="gn-poll-option col">
								<label class="checkbox">
									<input type="checkbox" name="poll"
                        ng-change="setPollMultiChoiceAnswer(polling, $index)" ng-checked="checkUserPolls(polling)==true" 
                        ng-model="$parent.polling[$index]" value="{{polling}}" required >
								</label>
							</div>
							<div class="gn-poll-option-text col">{{polling}}</div>
						</li>
					</ul>
					<ul class="list" ng-if="activityDetailItem.pollingType=='single' && userLoginData.genieId!=activityDetailItem.activityOwner">
						<li class="row clearfix item item-checkbox gn-poll-view" ng-repeat="polling in activityDetailItem.pollingOptions track by $index">
							<div class="gn-poll-option col">
								<label class="checkbox radio">
									<input type="radio" name="poll" ng-checked="checkUserPolls(polling)==true" ng-model="$parent.polling" 
                          ng-change="setPollSingleChoiceAnswer(polling)" value="{{polling}}" required>
								</label>
							</div>
							<div class="gn-poll-option-text col">{{polling}}</div>
						</li>
					</ul>
					<!-- poll::  parent view:: ends -->
				</div>
			</ion-item>
			<ion-item class="card gn-feed feed-statstic-report" ng-if="checkActivityOwner()==true">
				<div class="item item-text-wrap">
					<h3 class="text-uppercase">Message Read Statistics</h3>
					<div class="gn-feed-content row ">
						<div class="col col-33">
							<!-- <i class="dummy-chart icon ion-pie-graph"></i> -->
							<canvas id="base" ng-if="pieChart.show" class="chart-base" chart-type="pieChart.type" chart-data="pieChart.data" 
							chart-labels="pieChart.labels" chart-legend="true"></canvas> 
						</div>
						<div class="col">
							<ul>
								<li><strong>{{totalSentUsersCount}}</strong> - Total sent to</li>
								<li><strong class="event-read-color">{{totalReadUsersCount}}</strong> - Read By</li>
								<li><strong class="event-unread-color">{{totalSentUsersCount-totalReadUsersCount}}</strong> - Not yet Read</li>
							</ul>
						</div>
						<div class="col col-25">
							<button class="button button-genie button-small botton-full button-block" ng-click="sendNotificationsToAll()">Resend All</button>
							<button class="button button-genie button-small botton-full button-block" ng-click="getReadUsersList()">See Who</button>
							<button class="button button-genie button-small botton-full button-block" ng-click="sendToUnreadUsers()">Resend</button>
						</div>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
