<ion-view view-title="Wyze">
  <ion-header-bar class="bar-subheader genie-search-input">
          <!-- <input type="text" token-input-ready class="activity-stream-selected-groups" id="activity-stream-user-groups"/> -->
          <!-- To make like previos add   -->
          <tags-input ng-model="selectedParentFilters" add-from-autocomplete-only="true" 
                    on-tag-added="addFilterGroup($tag)"
                    placeholder="Select Child(s) to filter"
                    on-tag-removed="removeFilterGroup($tag)"
                    on-tag-adding="checkUserGroupAdded($tag)"
                    on-tag-clicked="removeFilterGroup($tag)"
                    ng-if="userLoginData.userType=='parent'"
                    display-property="displayName" key-property="id">
                <auto-complete source="loadParentFilters($query)" min-length="0" 
                      load-on-focus="true" load-on-down-arrow="true" load-on-click="true"
                       debounce-delay="0" max-results-to-show="100" highlight-matched-text="true" load-on-empty="true"></auto-complete>
          </tags-input>

          <!-- visibility-hidden
          visibility-visible -->

                    <!-- <div class="parent-searchbar" ng-if="userLoginData.userType=='parent'">
              <button class="tags-label" ng-click="removeParentGroup(group, $index)" ng-touch="removeParentGroup()" 
                   ng-repeat="group in selectedParentFilters track by $index">{{group.displayName}} 
                  <i class="ion-checkmark"></i>
              </button>
             <button class="tags-label" ng-click="addParentGroup(group, $index)" ng-touch="" 
                  ng-repeat="group in parentAvailableFilters | showAvailableParentFilters:selectedParentFilters track by $index">{{group.displayName}}<i></i>
              </button>
          </div> -->
          <!-- on-tag-removing="allowGroupRemove(filterGroup)" -->
          <tags-input ng-model="selectedFilterGroups" class="teacher-searchbar" add-from-autocomplete-only="true" 
                    on-tag-added="addFilterGroup($tag)" min-length="1"
                    placeholder="Select Groups(s) to filter"
                    on-tag-removed="removeFilterGroup($tag)"
                    on-tag-adding="checkUserGroupAdded($tag)"
                    ng-if="userLoginData.userType=='teacher'"
                    on-tag-clicked="removeFilterGroup($tag)"
                    display-property="displayGroupName" key-property="id">
                <auto-complete source="loadTeacherFilters($query)" min-length="0" 
                       debounce-delay="0" load-on-focus="true" load-on-down-arrow="true" load-on-click="true"
                    highlight-matched-text="true" max-results-to-show="100" load-on-empty="true"></auto-complete>
          </tags-input>
          <!-- <div token-input="" ng-model="selectedParentFilters" input-suggest="parentAvailableFilters" 
                ng-if="userLoginData.userType=='parent'"/></div> -->
          <!-- <div token-input="" ng-model="selectedFilterGroups" input-suggest="availableUserGroupList" 
              ng-if="userLoginData.userType=='teacher'"/></div> -->
          <i class="icon ion-ios7-search placeholder-icon"></i>
  </ion-header-bar>
  <ion-content class="activityContainer" overflow-scroll="false">   
          <ion-refresher class="pull-down-refresher" pulling-text="Pull to refresh..." on-refresh="doRefresh()">
              </ion-refresher>  
      <ion-list class="activity-stream-page" ng-if="activityStreamContent.length > 0 && userLoginData.userType=='teacher'
        && checkActivityLoaded()==true ">
       <ion-item class="card gn-feed" ng-repeat="activity in activityStreamContent 
                    | showTeacherFilteredGroupActivity:[selectedFilterGroups, availableUserGroupList, userLoginData.genieId, 'activity-stream'] 
                      | sortByUpdatedTime track by $index">
         <div class="item item-text-wrap">
          <div>
             <p class="gn-date-stamp">
                <span class="due-today-stamp" ng-class="{'marked-done':isDueDateToday(activity)==false}"
                    ng-if="showDueDateFormat(activity)==true">Due: Today</span>
                <span class="due-today-stamp" ng-class="{'marked-done':isDueDateToday(activity)==false}" 
                    ng-if="showDueDateFormat(activity)==false">Due: {{activity.endDate | date : 'dd MMM yyyy'}}</span>
                <!-- NOTE: added mashowDueDate()==true?'rked-done cla'?}}ss should apply only when activity is done marked -->
                <small class="non-action-text">{{activity.updatedTime | date : 'dd MMMM yyyy h:mm a'}}</small>
                <!-- <small class="non-action-text">999 Views</small> -->
                <!-- for teacher to edit and delete:: starts -->
                 <small ng-if="checkActivityOwner(activity)==true && userLoginData.userType=='teacher'" class="action-icon" 
                            ng-click="editActivity(activity)" ng-touch="editActivity(activity)">
                        <i class="ion-edit"></i>
                  </small>
                  <small ng-if="checkActivityOwner(activity)==true && userLoginData.userType=='teacher'" class="action-icon" 
                            ng-click="deleteActivity(activity)" ng-touch="deleteActivity(activity)">
                        <i class="ion-android-close"></i>  
                  </small>
                  <small class="action-icon" ng-if="userLoginData.userType=='teacher' && checkActivityOwner(activity)==false">
                    <i class="ion-android-favorite-outline like-{{$index}}" 
                        ng-click="likeUnlikeActivity(activity, true, $index)" ng-touch="likeUnlikeActivity(activity, true, $index)" 
                        ng-if="activity.like==false"></i>  
                    <i class="ion-android-favorite unlike-{{$index}}" ng-click="likeUnlikeActivity(activity, false, $index)" 
                            ng-touch="likeUnlikeActivity(activity, false, $index)" ng-if="activity.like==true"></i>  
                  </small>
                  <small class="action-icon" ng-if="userLoginData.userType=='teacher' && checkActivityOwner(activity)==false &&
                        activity.activityType=='assignment'">
                    <i class="ion-android-done" ng-click="completeUncompleteActivity(activity, true)" 
                          ng-touch="completeUncompleteActivity(activity, true)" ng-if="activity.completed==false"></i>  
                    <i class="ion-android-done selected" ng-click="completeUncompleteActivity(activity, false)" 
                          ng-touch="completeUncompleteActivity(activity, false)"  ng-if="activity.completed==true"></i>  
                  </small>
                <!-- for teacher to edit and delete:: ends -->
              </p>
            <p class="gn-feed-content pre-line-content" ng-click="goToActivityDetails(activity)" ng-touch="goToActivityDetails(activity)">
              <span>{{activity.description}}</span>
            </p>
          </div>
     </div>
      <!--  attachement UI:: starts -->

              <div class="cursor-pointer" ng-if="activity.attachments.length>0" ng-click="goToActivityDetails(activity)" 
                  ng-touch="goToActivityDetails(activity)">
                  <!--  attachement UI:: starts -->
                  <div class="attachment-feed-view">
                    <div class="attachment-img-row" ng-if="checkImagesInActivity(activity.attachments)==1">
                      <table class="attachment-img-row" ng-repeat="attachment in activity.attachments | ImagesOnly track by $index">
                        <tr>
                          <td>
                            <img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment">
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="gn-dual-attachment-view" ng-if="checkImagesInActivity(activity.attachments)>2">
                          <div class="attachment-img-row" ng-repeat="attachment in activity.attachments | ImagesOnly track by $index">
                           <table>
                                <tr>
                                   <td ng-if="$index==0">
                                        <img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment">
                                    </td>
                                    <td ng-if="$index==1">
                                        <img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment">
                                        <div class="see-more-img"><span>+{{checkImagesInActivity(activity.attachments)-1}}</span></div>
                                    </td>
                                </tr>
                             </table>
                          </div>
                    </div>  
                  <!-- dual attachement UI:: starts -->

                  <div class="gn-dual-attachment-view"  ng-if="checkImagesInActivity(activity.attachments)==2">
                          <div class="attachment-img-row" ng-repeat="attachment in activity.attachments | ImagesOnly track by $index">
                           <table>
                                <tr>
                                   <td><img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment"></td>
                                </tr>
                             </table>
                          </div>
                  </div>  
                  <!-- dual attachement UI:: starts -->
                  <div class="gn-dual-attachment-view">
                      <div class="attachment-thumb-row clearfix" ng-if="$index<2"
                            ng-repeat="attachment in activity.attachments | NonImageFiles track by $index">
                        <div class="attachment-thumb">
                          <img ng-src="{{showFileTypeImage(attachment.fileType)}}" alt="attachment">
                        </div>
                        <div class="attachment-name">{{attachment.fileName | limitTo: 15}}</div>
                      </div>
                    </div>
                    <div class="gn-dual-attachment-view">
                      <div class="attachment-thumb-row clearfix" ng-if="$index>1 && $index<4" 
                            ng-repeat="attachment in activity.attachments | NonImageFiles track by $index">
                        <div class="attachment-thumb">
                          <img ng-src="{{showFileTypeImage(attachment.fileType)}}" alt="attachment">
                        </div>
                        <div class="attachment-name">{{attachment.fileName | limitTo: 15}}</div>
                      </div>
                    </div>
                    <div class="gn-dual-attachment-view">
                      <div class="attachment-thumb-row clearfix" ng-if="$index>3" 
                            ng-repeat="attachment in activity.attachments | NonImageFiles track by $index">
                        <div class="attachment-thumb">
                          <img ng-src="{{showFileTypeImage(attachment.fileType)}}" alt="attachment">
                        </div>
                        <div class="attachment-name">{{attachment.fileName | limitTo: 15}}</div>
                      </div>
                    </div>
                  </div>
                  <!-- dual attachement UI:: ends -->
                  </div>
              <!-- <div class="list" ng-repeat="attachment in activity.attachments track by $index">
                    <div>
                        <img ng-click="downloadAttachment(attachment)" class="show-cursor" ng-touch="downloadAttachment(attachment)" 
                            ng-if="attachment.fileType=='image/jpeg'"  ng-src="{{getAttachmentUrl(attachment.servingUrl)}}"/>
                    </div>
                    <div ng-click="downloadAttachment(attachment)" ng-touch="downloadAttachment(attachment)" 
                              ng-if="attachment.fileType!='image/jpeg'">  {{attachment.fileName}}
                    </div>
              </div> -->
              <!-- <div ng-repeat="attachment in editActivity.attachments track by $id(attachment)">
                  {{attachment.fileName}}<span><input type="button" value="Remove" ng-click="removeAttachment(attachment, $index, 'previous')"></span>
              </div> -->
          </div>
            <div class="gn-feed-indentifier cursor-pointer" ng-click="goToActivityDetails(activity)" ng-touch="goToActivityDetails(activity)">
              <span class="gn-feed-filters">
                  <button class="button button-small" name="Note" 
              ng-class="{'genie-filter-button1':$index==0,'genie-filter-button2':$index==1,'genie-filter-button3':$index==2,
                'genie-filter-button4':$index==3, 'genie-filter-button5':$index==4}"
                  ng-repeat="group in $parent.groupsData(activity.groupIdList) track by $index">{{group.displayGroupName}}</button>

                  <button class="button button-small" name="Note" ng-if="showInstituteName(activity.instituteNames, activity.groupIdList)" 
                            ng-repeat="inst in activity.instituteNames track by $index">
                        {{inst.displayName}}</button>
                  <button class="button button-small" name="Note">{{activity.teacherName}}</button>
                </span>
                 
                     <!-- activity Type :: starts -->
                      <button class="button activity-type-identifier button-note button-small" name="Note"  ng-if="activity.activityType=='note'">
                                <span>Note</span>
                      </button>
                       <button class="button activity-type-identifier button-test button-small" name="Test" ng-if="activity.activityType=='test'">
                                <span>Test</span>
                      </button>
                       <button class="button activity-type-identifier button-assignment button-small" name="Assignment" ng-if="activity.activityType=='assignment'">
                                <span>Assignment</span>
                      </button>
                      <!-- activity Type :: ebds -->                
            </div>
         </div>
    </ion-item>
  </ion-list>

  <ion-list class="activity-stream-page" ng-show="activityStreamContent.length > 0 && userLoginData.userType=='parent' 
        && checkActivityLoaded()==true">
    <ion-item class="card gn-feed" ng-repeat="activity in activityStreamContent  | sortByUpdatedTime
                | showParentFilteredGroupActivity:[selectedParentFilters,'activity-stream'] track by $index">
         <div class="item item-text-wrap">
          <div>
             <p class="gn-date-stamp">
                <span class="due-today-stamp" ng-class="{'marked-done':isDueDateToday(activity)==false}"
                    ng-if="showDueDateFormat(activity)==true">Due: Today</span>
                <span class="due-today-stamp" ng-class="{'marked-done':isDueDateToday(activity)==false}" 
                    ng-if="showDueDateFormat(activity)==false">Due: {{activity.endDate | date : 'dd MMM yyyy'}}</span>
                <!-- NOTE: added mashowDueDate()==true?'rked-done cla'?}}ss should apply only when activity is done marked -->
                <small class="non-action-text">{{activity.updatedTime | date : 'dd MMMM yyyy h:mm a'}}</small>
                  <!-- for parents like and ticked::starts -->
                  <small class="action-icon" ng-if="userLoginData.userType=='parent'">
                    <i class="ion-android-favorite-outline" ng-click="likeUnlikeActivity(activity, true)" 
                            ng-touch="likeUnlikeActivity(activity, true)" ng-if="activity.like==false"></i>  
                    <i class="ion-android-favorite" ng-click="likeUnlikeActivity(activity, false)" 
                            ng-touch="likeUnlikeActivity(activity, false)" ng-if="activity.like==true"></i>  
                  </small>
                  <small class="action-icon" ng-if="userLoginData.userType=='parent' && activity.activityType=='assignment'">
                    <i class="ion-android-done" ng-click="completeUncompleteActivity(activity, true)" 
                          ng-touch="completeUncompleteActivity(activity, true)" ng-if="activity.completed==false"></i>  
                    <i class="ion-android-done selected" ng-click="completeUncompleteActivity(activity, false)" 
                          ng-touch="completeUncompleteActivity(activity, false)"  ng-if="activity.completed==true"></i>  
                  </small>
                  <!-- for parents like and ticked:: ends -->
              </p>
            <p class="gn-feed-content pre-line-content" ng-click="goToActivityDetails(activity)" ng-touch="goToActivityDetails(activity)">
              <span>{{activity.description}}</span>
            </p>
          </div>
          
          <div class="cursor-pointer" ng-if="activity.attachments.length>0" ng-click="goToActivityDetails(activity)" 
                ng-touch="goToActivityDetails(activity)">
                  <!--  attachement UI:: starts -->
                  <div class="attachment-feed-view">
                    <div class="attachment-img-row" ng-if="checkImagesInActivity(activity.attachments)==1">
                      <table class="attachment-img-row" ng-repeat="attachment in activity.attachments | ImagesOnly track by $index">
                        <tr>
                          <td>
                            <img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment">
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="gn-dual-attachment-view" ng-if="checkImagesInActivity(activity.attachments)>2">
                          <div class="attachment-img-row" ng-repeat="attachment in activity.attachments | ImagesOnly track by $index">
                           <table>
                                <tr>
                                   <td ng-if="$index==0">
                                        <img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment">
                                    </td>
                                    <td ng-if="$index==1">
                                        <img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment">
                                        <div class="see-more-img"><span>+{{checkImagesInActivity(activity.attachments)-1}}</span></div>
                                    </td>
                                </tr>
                             </table>
                          </div>
                  </div> 
                  <!-- dual attachement UI:: starts -->

                  <div class="gn-dual-attachment-view"  ng-if="checkImagesInActivity(activity.attachments)==2">
                          <div class="attachment-img-row" ng-repeat="attachment in activity.attachments | ImagesOnly track by $index">
                           <table>
                                <tr>
                                   <td><img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment"></td>
                                </tr>
                             </table>
                          </div>
                  </div>  
                  <!-- dual attachement UI:: starts -->
                  <div class="gn-dual-attachment-view">
                      <div class="attachment-thumb-row clearfix" ng-if="$index<2"
                            ng-repeat="attachment in activity.attachments | NonImageFiles track by $index">
                        <div class="attachment-thumb">
                          <img ng-src="{{showFileTypeImage(attachment.fileType)}}" alt="attachment">
                        </div>
                        <div class="attachment-name">{{attachment.fileName | limitTo: 15}}</div>
                      </div>
                    </div>
                    <div class="gn-dual-attachment-view">
                      <div class="attachment-thumb-row clearfix" ng-if="$index>1 && $index<4" 
                            ng-repeat="attachment in activity.attachments | NonImageFiles track by $index">
                        <div class="attachment-thumb">
                          <img ng-src="{{showFileTypeImage(attachment.fileType)}}" alt="attachment">
                        </div>
                        <div class="attachment-name">{{attachment.fileName | limitTo: 15}}</div>
                      </div>
                    </div>
                    <div class="gn-dual-attachment-view">
                      <div class="attachment-thumb-row clearfix" ng-if="$index>3" 
                            ng-repeat="attachment in activity.attachments | NonImageFiles track by $index">
                        <div class="attachment-thumb">
                          <img ng-src="{{showFileTypeImage(attachment.fileType)}}" alt="attachment">
                        </div>
                        <div class="attachment-name">{{attachment.fileName | limitTo: 15}}</div>
                      </div>
                    </div>
                  </div>
                  <!-- dual attachement UI:: ends -->
                  </div>
              <!-- <div class="list" ng-repeat="attachment in activity.attachments track by $index">
                    <div>
                        <img ng-click="downloadAttachment(attachment)" class="show-cursor" ng-touch="downloadAttachment(attachment)" 
                            ng-if="attachment.fileType=='image/jpeg'"  ng-src="{{getAttachmentUrl(attachment.servingUrl)}}"/>
                    </div>
                    <div ng-click="downloadAttachment(attachment)" ng-touch="downloadAttachment(attachment)" 
                              ng-if="attachment.fileType!='image/jpeg'">  {{attachment.fileName}}
                    </div>
              </div> -->
          </div>
            <div class="gn-feed-indentifier cursor-pointer" ng-click="goToActivityDetails(activity)" ng-touch="goToActivityDetails(activity)">
              <span class="gn-feed-filters">
                  <button class="button button-small" name="Note" 
                      ng-class="{'genie-filter-button1':$index==0,'genie-filter-button2':$index==1,'genie-filter-button3':$index==2,
                        'genie-filter-button4':$index==3, 'genie-filter-button5':$index==4}"
                          ng-repeat="group in $parent.groupsData(activity.groupIdList) track by $index">{{group.displayGroupName}}</button>
                    <button class="button button-small" name="Note" ng-repeat="inst in activity.instituteNames track by $index"
                          ng-if="showInstituteName(activity.instituteNames, activity.groupIdList)">
                        {{inst.displayName}}</button>
                    <button class="button button-small" name="Note" ng-if="userLoginData.userType=='parent'"
                          ng-repeat="child in activity.activityChildData track by $index">{{child.firstName}}</button>
                    <button class="button button-small" name="Note">{{activity.teacherName}}</button>
                </span>
                     <!-- activity Type :: starts -->
                      <button class="button activity-type-identifier button-note button-small" name="Note"  ng-if="activity.activityType=='note'">
                                <span>Note</span>
                      </button>
                       <button class="button activity-type-identifier button-test button-small" name="Test" ng-if="activity.activityType=='test'">
                                <span>Test</span>
                      </button>
                       <button class="button activity-type-identifier button-assignment button-small" name="Assignment" ng-if="activity.activityType=='assignment'">
                                <span>Assignment</span>
                      </button>
                      <!-- activity Type :: ebds -->                
            </div>
         </div>
    </ion-item>
  </ion-list>
  <div class="gn-no-activities" ng-if="activityStreamContent.length < 1 && checkActivityLoaded()==true">
    <div class="alert-msg">
      <i class="ion-alert-circled"></i>
          <!-- <p>If you think thats not the case please contact your school. Make sure you are enrolled to recive activities for your child</p> -->
    </div>
    <p>Looks like you have no activities to view for the groups chosen.</p>
  </div>
<!--   <ion-list  ng-if="activityData.length < 0" class="activity-stream-page">
    <ion-item class="card gn-feed">
        <div class="item item-text-wrap" >
          <p class="gn-feed-content">
            <span>No Data for now</span>
          </p>
        </div>
    </ion-item>
  </ion-list> -->
  </ion-content>
</ion-view>


