
<ion-view view-title="Wyze">
	<ion-header-bar align-title="center" class="bar bar-header gn-page-header">
		<section name="genie-header">
			<div class="gn-header-left-action">
                <button ng-click="goPreviousState()" class="button button-clear">Cancel</button>                
			</div>
			<h1 class="title" ng-cloak>
				<img ng-src="{{getLogoUrl('logo.svg')}}" alt="Wyze" class="logo">
				<img ng-src="{{getLogoUrl('wyze.svg')}}" alt="Wyze" class="logo-text">
			</h1>
			<div class="gn-header-right-action">
				<button class="button button-clear" ng-disabled="checkFormIsValid()" ng-click="confirmSave()">Save</button>
			</div>
		</section>
	</ion-header-bar>
	<ion-content class="genie-create-view" scroll="true">
		<div class="list">
			<form name="CreateACtivityForm">
				<!-- <input type="text" class="activityGroup-createEvent-selected" placeholder="Send one or more groups to send to" id="create-tasks-groups" readonly="true"/> -->
				<div class="genie-search-input">
					<tags-input ng-model="activitySelectGroups" add-from-autocomplete-only="true" 
		                    placeholder="Select Groups(s) to filter" min-length="1"
		                    ng-if="userLoginData.userType=='teacher'"
		                    display-property="displayGroupName" key-property="id">
		                <auto-complete source="getUserGroups($query)" min-length="0" 
		                       debounce-delay="0" load-on-focus="true" load-on-down-arrow="true" load-on-click="true"
		                    highlight-matched-text="true" max-results-to-show="100" load-on-empty="true"></auto-complete>
		            </tags-input>
	            </div>
				<!-- <label class="item item-input activityGroup-createEvent-selected">
					<button class="button button-small activityGroup-createEvent genie-filter-button{{$index+1}}" disabled ng-repeat="selectGroup in activitySelectGroups track by $index">{{selectGroup.displayGroupName}} <span class="close">x</span></button>
				</label> -->
				<div ng-if="activitySelectGroups.length<1 && formSubmitted" ng-messages="CreateACtivityForm.groupItems.$error" role="alert">
                	<div ng-message="required" class="error">
                		<i class="ion-alert-circled"></i>
                		Enter group name(s)
                	</div>
                </div>
				
				<button class="button button-small activityGroup-createEvent genie-filter-button{{$index+1}}" ng-click="addGroups(group)"
					ng-touch="addGroups(group)" on-tap="addGroups(group)"
         			ng-repeat="group in recentSelectedGroups track by $index" name="Note">{{group.groupName}}
         		</button>
				
				<br class="clearfix">
				<label class="item item-input description-field">
				<textarea rows="6" name="activityDescription" placeholder="Enter description between 10 and 200 characters" minlength="10" maxlength="2000" required 
							ng-model="createActivity.description"></textarea>
				</label>
				<div class="clearfix create-type-icons">
					<div class="poll-icon file-input-wrapper">
						<input type="button" name="polling" class="file-input-button" ng-click="enablePolling()"/>
					</div>
					<div class="{{item.class}} file-input-wrapper" ng-if="tempAttachments.length<=4"
							ng-repeat="item in attachments track by $id(item)">
						<!-- <input type="file" ng-if="item.class=='attach-icon'" ng-model="item" class="file-input-button" accept="{{item.accept}}" 
							upload-file name="upload"/> -->
						<input type="file" ng-if="item.class=='attach-icon' && item.device==false" ng-model="item" class="file-input-button" 
							accept="{{item.accept}}" upload-file name="upload" is-device="false"/>
						<input type="file" ng-if="item.class=='attach-icon' && item.device==true" ng-model="item" class="file-input-button" 
							accept="{{item.accept}}"  upload-file name="upload" is-device="true"/>
						<input type="file" ng-if="item.class!='attach-icon' && item.device==false" ng-model="item" class="file-input-button" 
							accept="{{item.accept}}" upload-file name="upload"/>
						<input type="button" ng-if="item.class!='attach-icon' && item.device==true" ng-model="item" class="file-input-button" 
							accept="{{item.accept}}" ng-click="openCamera(item.accept)" ng-touch="openCamera(item.accept)"
								upload-file name="upload"/>
					</div>
				</div>
				<br class="clearfix">
				<div ng-messages="CreateACtivityForm.activityDescription.$error" role="alert">
                	<!-- <div ng-message="required" class="error">
                		<i class="ion-alert-circled"></i>
                		Please enter description
                	</div> -->
                	<div ng-message="minlength, maxlength" class="error">
                		<i class="ion-alert-circled"></i>
                		Enter description between 10 and 200 characters
                	</div>
                </div>
                
                <!-- poll UI:: starts -->
                <div ng-if="polling.enable">
	                <div class="row poll-event-row">
	                	<h4 class="col col-30 createPoll-title">Create a Poll</h4>
				        <div class="col ">
						<div class="button-bar bar-positive createPoll-choice">
							<a class="button button-small" ng-click="selectPollingType('single')" ng-touch="selectPollingType('single')"
									ng-class="{'button-theme':polling.pollType=='single', 'button-stable':polling.pollType!='single'}">	Single Choice
							</a>
							<a class="button button-small" ng-click="selectPollingType('multi')" ng-touch="selectPollingType('multi')"
								ng-class="{'button-theme':polling.pollType=='multi', 'button-stable':polling.pollType!='multi'}" >
								Multi Choice
							</a>
						</div>	
						</div>
	                </div>
	                	<!-- <span>Polling type : {{polling.pollType=='single'?'Single':'Multi Choice'}}</span> -->
	                <div ng-repeat="option in polling.options track by $index" class="item item-input activity-poll-option">
	                	<input type="text" autofocus ng-model="option.option" placeHolder="Enter answer for choice {{option.key}}"/>
	                	<button class="remove-poll-options button button-small"  ng-click="removePollingOption(option, $index)" 
	                		ng-touch="removePollingOption(option, $index)">
	                			<i class="ion-close" ng-click="removePollingOption(option, $index)"
	                				ng-touch="removePollingOption(option, $index)">
	                			</i>
	                	</button>
	                </div>
	                <div class="item item-input addMore-createActivity" ng-click="addMorePollingOptions()" ng-touch="addMorePollingOptions()">
	                	<input type="button" class="button button-small" value="Add another answer choice"/>
	                </div>
	        	</div>
	        	<!-- poll UI:: ends -->

	        	<!-- select event type:: start -->
				<button class="button button-outline button-assertive button-small pull-right " ng-if="!polling.enable" ng-class="{'activated1':getActivityType('test') == true}" name="Test" ng-touch="setActivityType('test')" 
						ng-click="setActivityType('test')">
					Test
					<i class="icon ion-checkmark"></i>
				</button> 
				<button class="button button-outline button-energized button-small pull-right" ng-if="!polling.enable" name="Assignment" ng-class="{'activated1':getActivityType('assignment') == true}" ng-touch="setActivityType('assignment')" 
						ng-click="setActivityType('assignment')">
					 Assignment
					 <i class="icon ion-checkmark"></i>
				</button>
				<button class="button button-outline button-balanced button-small pull-right activated1" name="Note"  ng-if="!polling.enable" ng-class="{'activated1':getActivityType('note') == true}" ng-touch="setActivityType('note')" ng-click="setActivityType('note')">
					 Note 
					 <i class="icon ion-checkmark"></i>
				</button>

				<!-- <br class="clearfix">
				<br> -->
				<!-- select event type:: ends -->

				<div class="item item-input genie-date-picker start-date"
						ng-touch="openStartDatePicker()" ng-click="openStartDatePicker()" on-tap="openStartDatePicker()">
					<!-- <img src="img/calendar-date-picker.svg" class=" placeholder-icon" alt="calendar">
					<input type="text" on-tap="openStartDatePicker()" ng-model="createActivity.endDate | date : 'dd MMMM yyyy'" placeholder="Due On (Optional)" readonly >	-->
					<img src="img/calendar-date-picker.svg" class=" placeholder-icon" alt="calendar">
					<input type="text" ng-model="createActivity.endDate | date : 'dd MMMM yyyy'" placeholder="Due On (Optional)" readonly>
 					<i class="icon ion-chevron-right"></i>
				</div>
			</form>

				<!-- attachement UI:: starts -->
					<div ng-if="tempAttachments.length>0">
				        <div class="attachment-thumb-row clearfix" ng-repeat="attachment in tempAttachments track by $id(attachment)">
							<div class="attachment-thumb">
								<img ng-src="{{showFileTypeImage(attachment.fileItem.type)}}" alt="attachment">
							</div>
							<div class="attachment-name">{{attachment.fileItem.name | limitTo: 15}}</div>
							<div class="attachment-close" ng-touch="removeAttachment(attachment, $index)" 
								ng-click="removeAttachment(attachment, $index)">
								<button class="remove-poll-options button button-small"><i class="ion-close"></i></button>
							</div>
						</div>
		            </div>

		            <!-- <div class="attachment-thumb-row clearfix">
							<div class="attachment-thumb"><img src="../img/pdf_attachment.svg" alt="attachment"></div>
							<div class="attachment-name">attachment.fileItem.name</div>
							<div class="attachment-close">
								<button class="remove-poll-options button button-small"  ng-click="removeAttachment(attachment, $index)" ><i class="ion-close"></i></button>
							</div>
						</div> -->
				<!-- attachement UI:: ends -->


		</div>
	</ion-content>
	
</ion-view>
