<ion-view view-title="Wyze" class="loginView">  
    <ion-content>
    	<header class="login-header">
             <!-- <h1><img src="img/megaphone.svg" alt="stream"><span>Genie</span></h1> -->
             <h1><img ng-src="{{getLogoUrl('192x192_transparent.png')}}" alt="Wyze"><span></span></h1>
             <div class="login-page-band">Sign In</div>
        </header> 
        <section class="login-content">
            <form name="authorizationForm" autocomplete="off"> 
            	<div class="list"> 
                  <div ng-if="loginButtons.next==false">            
                   		<label class="item-input" ng-class="{ 'has-errors' : authorizationForm.userName.$error, 'no-errors' : authorizationForm.userName.$valid}">
                      		<input type="text" name="userName" class="user-name-field" numeric-field-only placeholder="Enter mobile Number" 
                      			ng-model="userLoginForm.userName" minlength="10" maxlength="10" ng-pattern="/^\d{10}$/" required>
                    	</label>
                    	<div ng-messages="authorizationForm.userName.$error" role="alert">
                        <div class="error-ui-container">
                      		<!-- <div ng-message="required" class="error">
                      			<i class="ion-alert-circled"></i>
                      			Please enter mobile number
                      		</div> -->
                      		<div ng-message="minlength, maxlength" class="error">
                      			<i class="ion-alert-circled"></i>
                      			Mobile numbers should be 10 digit long
                          </div>
                    		<div ng-message="pattern" class="error">
                    			<i class="ion-alert-circled"></i>
                    			Please enter numeric field only
                        </div>
                    		</div>
                    	</div>
                  </div>
                  <div ng-if="loginButtons.next==true">
                  	<label class="item-input" 
                        ng-class="{ 'has-errors' : authorizationForm.userPassword.$error, 'no-errors' : authorizationForm. userPassword.$valid}">
                    		<input type="password" class="user-password-field" name="userPassword" placeholder="Enter your password"
                          ng-model="userLoginForm.userPassword" minlength="1" maxlength="15" required>
                  	</label>
                    	<div ng-messages="authorizationForm.userPassword.$error" role="alert">
                        <div class="error-ui-container">
                        	<!-- <div ng-message="required" class="error">
                        			<i class="ion-alert-circled"></i>
                        			Enter your password
                        		</div> -->
                          <!-- <div ng-message="minlength, maxlength" class="error">
                            <i class="ion-alert-circled"></i>
                            Please enter password
                          </div> -->
                        </div>
                    	 </div>
                  </div>
				 </div>     

         <!-- <section class="login-otp-info" ng-if="loginButtons.next==true">
              <p>Enter one time password recieved via SMS</p>
              <button class="button button-outline gn-theme-button-outline button-small full-width" 
                  ng-touch="getUserOTP()" ng-click="getUserOTP()">Resend OTP</button>
          </section> -->
          <button class="button button-small full-width  button-positive button-theme" ng-if="loginButtons.next==false"
                  ng-disabled="loginFormError(authorizationForm) || authorizationForm.$invalid" type="submit" 
                  ng-click="validateMobile()" ng-touch="validateMobile()">Next
          </button>
          <button class="button button-small full-width  button-positive button-theme" ng-if="loginButtons.next==true"
                  ng-disabled="loginFormError(authorizationForm) || authorizationForm.$invalid" type="submit" 
                  ng-click="signIn()" ng-touch="signIn()">Sign In
          </button>
          <br/>
          <button style="margin-top:5px;"  class="button button-small full-width  button-positive button-theme" ng-if="loginButtons.next==true"
                  type="submit" ng-touch="goToMobileScreen()" ng-click="goToMobileScreen()">Back
          </button>        
    		</form>   
 		</section>
	</ion-content>   
</ion-view>