<ion-view  view-title="Wyze">
        <!-- <ion-nav-buttons side="right">
        view-title={{viewTitle}}
        </ion-nav-buttons> -->
 <ion-content scroll="false" class="main-content">
    <section class="calendar-tabs">
      <div class="bar bar-header item-input-inset">
            <!-- <button class="button button-clear" ng-disabled="isToday()" ng-click="">Today</button> -->
            <button class="button button-clear" ng-class="(calendar.mode == 'day') ? 'current' : ''"
                  ng-click="changeMode($event,'day')" ng-touch="changeMode($event,'day')">
                <span class="back-icon calendar-state-NB"></span>
                <span ng-if="calendar.mode!='day'">
                    Today &nbsp;<span class="current-date">{{getCurrentCalendarRange() | date : 'dd MMM'}}</span>
                </span>
                <span ng-if="calendar.mode=='day'">
                  <span ng-if="showDayOrToday()==true">Today &nbsp;</span>
                  <span class="current-date">{{getCurrentCalendarRange() | date : 'dd MMM'}}</span>
                </span>
                <span class="next-icon calendar-state-NB"></span>
            </button>

            <!-- <button class="button button-clear" ng-click="loadEvents()">LE</button> -->
            <div class="title" ng-class="(calendar.mode == 'day') ? 'shiftTitle' : ''">
              <button class="button button-clear" ng-click="changeMode($event,'week')" ng-touch="changeMode($event,'week')"
                     ng-class="(calendar.mode == 'week') ? 'current' : ''">
                <span class="back-icon calendar-state-NB"></span>
                <span class="week-clicked"> Week 
                    <span class="current-date">({{getCurrentCalendarRange() | date : 'dd MMM'}})</span>
                </span>
                <span class="next-icon calendar-state-NB"></span>
              </button>
            </div>
            <button ng-click="changeMode($event,'month')"  ng-touch="changeMode($event,'month')" class="button button-clear" 
                    ng-class="(calendar.mode == 'month') ? 'current' : ''">
                <span class="back-icon calendar-state-NB"></span>
                <span class="month-clicked">Month</span>
                <span class="next-icon calendar-state-NB" ng-click="nextView($event)" ng-touch="nextView($event)"></span>
            </button>
      </div>
    </section>

            <div class="month-title" ng-if="calendar.mode == 'month'">{{viewTitle}}</div>
            <calendar ng-model="calendar.currentDate" calendar-mode="calendar.mode" event-source="calendar.eventSource"
                      range-changed="reloadSource(startTime, endTime)"
                      event-selected="onEventSelected(event)" title-changed="onViewTitleChanged(title)"
                      time-selected="onTimeSelected(selectedTime)" step="30"></calendar>
  </ion-content>
</ion-view>