
<ion-view view-title="Wyze">

  <div class="text-center gn-select-role-section">
    <!-- NOTE:: Arun no record to show UI : uncomment code and paste whereever you want -->
      <!-- <div class="gn-no-activities">
          <p>Looks like you have no activities to view.  Teachers may not have started positng activities yet</p>
          <div class="alert-msg">
            <i class="ion-alert-circled"></i>
          <p>If you think thats not the case please contact your school. Make sure you are enrolled to recive activities for your child</p>
          </div>
      </div> -->
      <!-- NOTE:: Arun no record to show UI : uncomment code and paste whereever you want -->
      <p class="title">Login as</p>
      <ul class="gn-user-role-list">
        <!-- 
        <li class="current" ng-if="selectedUserType!=''">
          <p class="gn-role-icon">
            <i class="ion-ios-person-outline"></i>
          </p>
          <p class="gn-role-text" ng-if="selectedUserType=='teacher'">Showing {{selectedInstitute.instituteName}} Teacher View</p>
          <p class="gn-role-text" ng-if="selectedUserType=='parent'">Parent View (Current)</p>
        </li> 
        -->
        <li ng-if="parentRole==true" ng-click="selectParentRole()" ng-touch="selectParentRole()" ng-class="{'current':selectedUserType=='parent'}">
          <p class="gn-role-icon">
            <i class="ion-ios-person-outline"></i>
            <!-- <span>PH</span> -->
          </p>
          <p class="gn-role-text">{{getParentName()}} (Parent)</p>
          <!-- {{selectedUserType=='parent'?'(Current)':''}} -->
        </li>
        <li ng-repeat="userRole in userRolesData track by $index" ng-if="userRole.userRole!='parent'" 
              ng-click="selectTeacherRole(userRole)" ng-touch="selectTeacherRole(userRole)"
              ng-class="{'current':selectedUserType=='teacher' && selectedInstitute.id==userRole.instituteWrapper.id}">
          <p class="gn-role-icon">
            <!-- <i class="ion-ios-person-outline"></i> -->
            <span>{{userRole.instituteWrapper.displayName | limitTo:2 | uppercase}}</span>
          </p>
          <p class="gn-role-text">{{userRole.firstName}} ({{userRole.instituteWrapper.instituteName}}) Teacher
              <!-- {{selectedUserType=='teacher' && selectedInstitute.id==userRole.instituteWrapper.id?'(Current)':''}} -->
          </p>
        </li>
        <li class="user-logout-option" ng-click="logout()" ng-touch="logout()">
          <p>
            <img ng-src="{{getImageUrl('logout.svg')}}" alt="logout">
          </p>
          <p class="gn-role-text"> Log Out </p>
        </li>
      </ul>  
  </div>
</ion-view>
