$themeColorBg : #9A4C73;
$themeColorLight: #AB6586;
$themeLinkColor: #803F6D;
$whiteText : #fff;
$theme-header-bg : rgba(255,255,255, 0.25);
$calendarHolidayColor: #c67c5d;
$calendarTextColor: #c4c4c4;
//* specific calendar *//
$caledarHeaderBg: rgba(255, 255, 255, 0.75);
/*$themeSolidBg: #ad6b8b;*/
$genieFilterBg1:#d3b0d1;
$genieFilterBg2:#afcbe7;
$genieFilterBg3:#cbc7e1;
$genieFilterBg4:#d0021b;
$genieFilterBg5:#fbd9be;
$themeSolidBg: rgba(255, 255, 255, 0.15);
$noteTypeColor:  #c4ea9a;	
$testTypeColor:  #fc9ea9;
$assignmentTypeColor:  #fbd9be;
				

/*body {
	& > header,	& > .gn-nav-view, & > footer {
		margin: 0px auto;
		max-width: 732px;
	}
	.gn-page-header {
		max-width: 732px;
	}
}*/
html, body, .ionic-body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Helvetica Neue", "-apple-system", "Roboto", "Segoe UI", sans-serif !important;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	font-size:16px;
	font-weight:100;
}
.button {
	color: #4a4a4a;
}
.text-white{
	color:$whiteText;	
}
.text-capitalize{
	text-transform:capitalize;
}
.text-uppercase{
	text-transform:uppercase;
}
.cursor-pointer {
	cursor:pointer !important;
}
.full-width {
	width:100%;
}
.text-center {
	text-align:center  !important;
}
.text-left {
	text-align:center !important;
}
.pull-down-refresher, .spinner-ios, .spinner-ios-small,
.scroll-refresher .ionic-refresher-content {
	color:#fff;
	stroke:#fff;
	fill:#fff;
}
.genie-filter-button1, .genie-filter-button2, .genie-filter-button3, .genie-filter-button4, .genie-filter-button5 {
	box-shadow: 0 1px 0 #b9b9b9;
}
.genie-filter-button1, .genie-filter-button1.activated{
	background-color: $genieFilterBg1;
}
.genie-filter-button2, .genie-filter-button2.activated{
	background-color: $genieFilterBg2;
}
.genie-filter-button3, .genie-filter-button3.activated{
	background-color: $genieFilterBg3;
}
.genie-filter-button4, .genie-filter-button4.activated{
	background-color: $genieFilterBg4;
	color:#DEDEDE;
	&:hover {
		color:#DEDEDE;
	}
}
.genie-filter-button5, .genie-filter-button5.activated{
	background-color: $genieFilterBg5;
}
.button-outline.gn-theme-button-outline {
	background-color: white;
	border: 1px solid #984b73;
	border-radius: 2px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12);color: #964a72;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.5px;
	min-height: 32px;
    line-height: 30px;
}
.button.button-assertive.button-outline {
	//border: 1px solid #db001f;
	border:none;
	color: #4a4a4a;
	//background-color: #db001f;
	background-color: #fc9ea9;
	&.activated1, &.activated,  &:active {
		background-color: #fc9ea9;
	    box-shadow: none;
		.icon {
			display:inline-block
		}
	}	
}
.button.button-balanced.button-outline {
	//border: 1px solid #78bb4c;
	border:none;
	color: #4a4a4a;
	//background-color: #78bb4c;
	background-color: #c4ea9a;
	&.activated1, &.activated,  &:active {
		background-color: #c4ea9a;
	    box-shadow: none;
	    .icon {
			display:inline-block
		}
	}
}
.button.button-energized.button-outline {
	//border: 1px solid #f93;
	border:none;
	color: #4a4a4a;
	//background-color: #f93;
	background-color: #f3be81;
	&.activated1, &.activated,  &:active {
		background-color: #f3be81;
	    box-shadow: none;
	    .icon {
			display:inline-block
		}
	}	
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
.button.button-theme, .button-theme {
	background-image: linear-gradient(135deg, #a75377 0%, #753a6a 100%);
    min-height: 32px;
    line-height: 30px;
}
.button-genie {
	background:#813F6D;
	color:#fff;
	&.activated {
		background:rgba(129, 63, 109, 0.7);
	}
	&:hover {
		color:#fff;
	}
}
.pane, .view {
	background-image: linear-gradient(135deg, #a75377 0%, #753a6a 100%);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
	padding:0px;
}
.gn-page-header, #gn-nav-bar, .nav-bar-color , .bar.bar-stable .title{
	background:$themeSolidBg;
}
.bar.bar-stable .title , .gn-page-header .title{
	color:#fff;
	margin:0px;
	font-weight:normal;
	text-shadow:0px 2px 1px #555;
	font-size:18px;
}
.gn-page-header {
	color: $whiteText;
	z-index:10;
	border:none;
	max-height: 44px;
	.button-clear{
		color: $whiteText;
		margin-top:5px;
		font-size:14px !important;
	}
	.title{
		img {
			position:relative;
			top:10px;
			height:30px;
			&:first-child {
				top: 2px;
				height:20px;
			}
		}
	} 
}
/* declaring font-size :: starts */
.gn-feed-content, .button {
	font-size:16px;
}
/* declaring font-size :: ends */


/* login page style */
.login-header {
	background:$themeColorBg;
	text-align:center;
	display:block;
	h1 {
		color: $whiteText;
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
		/*font-family: "Helvetica Neue";*/
		font-size: 36px;
		font-weight: 300;
		line-height: 150px;
		height:190px;
		& img {
			//height:48px;
			//margin:0 10px -15px 0;
		}
	}
	.login-page-band {
	 	text-align:center;
	 	font-size:16px;
	 	background:$theme-header-bg;
	 	color:$whiteText;
	 	padding:12px;
	 	margin:0px -10px;
	 	display: none;
	}
}
.login-content, .loginView {
	background:$whiteText;
	padding:30px 15px;
	.gn-theme-button-outline {
		margin:15px 0 10px;
	}
	.button-theme  {
		border-radius:2px;
	}
	.login-otp-info {
		p {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		color: #8b8b8b;
		font-size: 16px;
		font-weight: 300;
		line-height: 18px;
		padding-bottom:15px;
		}
	}
}
.loginView {
	& .has-header {
		top:0;
	}
}
.error-ui-container {
	height:30px;
}

/* login page style */

/* custom css*/
.gn-header-left-action, .gn-header-right-action {
	top:0px;
	color:#fff;
	height:100%;
	z-index:1;
	min-width:100px;
}
.gn-header-action  {
	height: inherit;
    width: 26px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    &.text-action {
    	width:auto;
    	a {
    		font-size:13px;
    	}
    }
	&.current:before {
	    content: "";
	    position: absolute;
	    bottom: 0px;
	    border-width: 8px 10px 0;
	    border-style: solid;
	    border-color: #a15075 transparent;
	    display: block;
	    width: 0;
	    -ms-transform: rotate(180deg);
	    -webkit-transform: rotate(180deg);
	    transform: rotate(180deg);
	}
	.icon-back-arrow {
		font-size: 20px;
		margin-top: 1px;
		display: inline-block;
	}
	&.logout-icon {
		vertical-align: top;
    	margin-top: 2px;
	}
	
}
.gn-header-left-action {
	float:left;
	position:absolute;
	left:10px;	
	& > a {
		margin-right:20px;
		display:inline-block;
	}
	.icon-back-arrow {
		display:inline-block;
		margin-top:4px;
	}
}
.gn-header-right-action {
	float:right;
	position:absolute;
	right:10px;	
	text-align:right;
	& > a {
		margin-left:20px;
		display:inline-block;
	}
}
.gn-header-left-action  a, .gn-header-right-action  a,  .gn-page-header > *{
	color: $whiteText;
	font-size:24px;
}
#gn-nav-bar .bar-header{
	display:none;
}
.activity-stream-page {
	display:block;
	//padding-top:37px;
}
.gn-activity-detail-view {
	& > .scroll-content {
		top: 44px;
	}
	.gn-feed .item .gn-feed-content {
		cursor:default;
	}
}
/* feed model */
.gn-feed {
	background: #F4F0F2;
    padding: 10px;
    border-radius: 3px;
    margin: 5px;
    &.feed-statstic-report {
    	.gn-feed-content {
    		padding:0;
    		.button-genie {
    			white-space:nowrap;
    			padding:0;
    			margin-top: 4px;
    			margin-bottom: 6px;
    		}
    		&  col + col {
    			padding-right:0
    		}
    		& ul {
    			font-size:12px;
    			&.doughnut-legend  {
    				display:none;
    			}
    			& li {
    				padding:5px 0;
    			}
    			& strong {
    				//width:25px;
    				display:inline-block;
    				&.event-unread-color {
						color:#E38994;
					}
					&.event-read-color {
						color:#ABD47F;
					}
    			}
    		}
    	}
    }
	.button-small {
		padding:0px 8px 0px;
	    min-height: 18px;
	    line-height: 22px;
	    border-radius:0 !important;
	    font-size:12px;
	    margin-right:5px;
	    margin-bottom:5px;
	    height: 24px;
		font-weight: 400;
	}
	.item {
		background:transparent;
		border:0;
		padding:0;
		.gn-feed-content {
			cursor:pointer;
		}
		p { 
			font-size:16px;
		}
		.gn-date-stamp {
			//color:$themeLinkColor;
			color: #a8a6a6;
			text-align:right;
			margin:0 -10px 5px 0;	
			font-size:10px;
			span {
				visibility: hidden;
				float:left;
				display:inline-block;
				color: #d0021b;
				text-transform:uppercase;
				font-weight: 500;
				&.due-today-stamp {
					visibility:visible;
					&.marked-done {
						color:#a8a6a6;	
					}
				}	
			}
			.non-action-text {
			    position: relative;
				top: -4px;
				display: inline-block;
    			padding: 0px 5px;
    			font-size:10px;
			}
			.action-icon {
				font-size:22px;
				display:inline-block;
				padding:0;
				cursor:pointer;
				-ms-transition: all .2s ease-in-out; 
				-moz-transition: all .2s ease-in-out; 
				-webkit-transition: all .2s ease-in-out; 
				transition: all .2s ease-in-out; 
			    width: 40px;
			    height: 40px;
			    text-align:  center;
			    vertical-align: middle;
			    margin: -10px 0px 0;
			    line-height: 40px;
				.clicked-icon {
					-ms-transform: scale(1.3);
					 -webkit-transform: scale(1.3);
					  transform: scale(1.3);
				}
				.ion-android-favorite, .selected {
					color:$themeLinkColor;
				}
				.ion-android-close{
					top:1px;
					position:relative;
					&:before {
					font-size:26px;
					}
				}
				
			}
			
		}
	}
	.gn-feed-indentifier {
		margin-top:10px;
		cursor:default;
		/*.button-bar {
			& > .button:only-child  {
		    	max-width:50%;
		    }
		}*/
		padding:0;
		& >  p {
			padding:0;
		}
		.gn-feed-filters {
			width:calc(100% - 100px);
			display:inline-block;
			white-space: normal;
			.button-small {
				background-color: white;
				border: 1px solid #dedede;
				color: #4a4a4a;
				box-shadow:none;
				cursor:default;
			}
		}
		.activity-type-identifier {
				float:right;
				margin:0px;
				cursor:default;
				&.button-note{
					background-color:$noteTypeColor;
				}
				&.button-test {
					background-color: $testTypeColor;
				}
				&.button-assignment {
					background-color: $assignmentTypeColor;
				}
				
			}
	}
}
/* feed model */

/* User Role switcher  */
/*Roles: selected animation*/
@-webkit-keyframes RoleSelected {
  0% {
    position: absolute;
    border: none;
  }
  50% {
 	top: -70px;
    right: 0px;
  }
  90% {
  	width: 30px;
  	height: 30px;
  }
  100% {
    position: absolute;
   border: none;
    display:none;
  }  
}

/* Standard syntax */
@keyframes RoleSelected {
  0% {
    position: absolute;
    border: none;
  }
  50% {
 	top: -70px;
    right: 0px;
  }
  90% {
  	width: 30px;
  	height: 30px;
  }
  100% {
    position: absolute;
   border: none;
    display:none;
  }
  
}
/*Roles: selected animation*/
.gn-select-role-section {
	&.has-header {
		top: 0;
	}
	.title {
	    font-weight: 100;
	    font-size: 18px;
	    margin: 4vh 0;
		color: #fff;
		display: none;
	}
	.gn-user-role-list  {
		color:#FEFEFE;
		margin-top: 8.5vh;
		li {
				padding-top:2vh;
				height: 20vh;
				cursor:pointer;
				&.current {
					opacity:.50;
					//cursor:default;
				.gn-role-icon {
					border:1px solid #FEFEFE;
					span {
						font-size: 4vh;
						position: relative;
						top: -1.3vh;
					}
				}
				span{
					display:inline-block;
				}
				&.role-choosen{
					p.gn-role-icon {
						-webkit-animation: RoleSelected 2s; /* Chrome, Safari, Opera */ 
	    				animation: RoleSelected 2s ;
					}
					p.gn-role-text {
						display: none;
					}
				}
			}
			span {
						font-size: 4vh;
						position: relative;
						top: -2vh;
			}
			.gn-role-icon {
				font-size:8vh;
				border-radius:50%;
				border:4px solid #FEFEFE;
				display:inline-block;
				padding:0 10px;
				width:12vh;
				height:12vh;
				line-height:11vh;
				i {
					position:relative;
					top:-0.7vh;
				}
			}
			.gn-role-text {
				font-size:14px;
			}
			&.user-logout-option {
				//border-top:1px solid rgba(255,255,255,0.2);
    			font-weight: 300;
				color: white;
				font-size: 14px;
				font-weight: 300;
				line-height: 20px;
				padding-top:5vh;
				margin-top:6vh;
				.gn-role-text {
					opacity:.60;
				}
			}
		}
	}
}
/* Select User Role */

/* Create view :: starts */
.genie-create-view {
	background-color: #f5f1f2;
	padding:10px;
	margin-bottom:25px;
	.genie-search-input {
		box-shadow: none;
		padding: 0;
		border: 1px solid #a86485;
		background: #fff;
		width: 100%;
		margin: 0;
		tags-input .host{
			margin-top: 3px;
		}
	}
	.pull-right{
		float:right;
		margin-left:5px;
		margin-bottom:10px;
		font-size:12px;
		font-weight:400;
	}
	.item {
		border: 1px solid #a86485;
		padding:4px 8px;
	}
	label{
		margin-bottom:10px;
		display:block;
		&.select-create-type {
			text-align:right;
			padding:5px 0;
		}
	}
	.error {
		margin-top: -15px;
	}
	.button .icon{ 
		padding-left:5px;
		display:inline-block;
		position:relative;
		top:2px;
		display:none;
	}
	.description-field {
		width: 100%;
		border-bottom: 0;
		margin-bottom: 0;
	}
	.create-type-icons {
		position: relative;
	    z-index: 2;
	    text-align: right;
	    display: block;
	    background: #fff;	
    	border: 1px solid #a86485;
    	border-top: 0;
    	padding: 0px 10px;
    	width: 100%;
    	margin-left: -1px;
	}
}
.button.activityGroup-createEvent {
	margin-right:3px;
	margin-bottom:3px;
	padding:0px 5px;
	font-size:12px;
	font-weight:400;
	.close {
	    font-family: Arial;
        font-size: 1.1em;
        margin-left: 5px;
	}
}
.createPoll-choice {
	justify-content: flex-end;
	.button {
		border:1px solid #DADADA;
		border-left:none;
		padding:0 10px;
		max-width:106px;
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
    	height: 32px;
    	&.button-stable  {
    		background:#fff;
    		color:#000;
    	}
    	&.button-theme {
    		border:1px solid #9e4f75;
    	}
		&:first-child{
			border-left:1px solid #DADADA;
		}
	}	
	.remove-poll-options {
		background:#eee;
		height:32px;
		width:32px;
		color:#000;
		font-size:12px;
		text-align:center;
		vertical-align:middle;
	}
}
.activity-poll-option {
	margin-bottom:10px;
}
.activityGroup-createEvent-selected {
	height:52px;	
	& > button {
		margin-right:3px;
		opacity:1 !important;
	}
}
.poll-event-row{
	padding:5px 0;
	& > .col {
		padding:5px 0;
		&.createPoll-title {
			line-height:14px;
			padding-bottom:5px;
			float:left;	
			max-width: 33%;
			//padding-left:0;
			padding-top:1px;
			color: #4a4a4a;
		}
	}
}

.addMore-createActivity {
		width:65%;
		margin-bottom:10px;
	input{
		font-size:inherit;
	}
}
.genie-date-picker {
		padding-left:10px;
		& >.ion-chevron-right {
			margin-right:10px;
			&:before {
				color:#4a4a4a;
			}
		}
		input {
			background: transparent !important;
			cursor: default !important;
		}
}

.selected-group-broadcast {
	min-height:40px;
	button.button-small {
		min-height:14px;
		line-height:18px;
		opacity: 1;
    	margin-right: 3px;
    	margin-bottom: 3px;
	}
}
.create-filter-button.button-small {
		min-height:14px;
		line-height:18px;
		opacity: 1;
        margin-right: 3px;
	    padding: 2px 7px;
	    margin-bottom:3px;
	}
.item-input textarea {
	resize:none;
	height: 85px;
}

/*attached*/
.file-input-wrapper {
    width: 44px;
    height:28px;
    overflow: hidden;
    display:inline-block;
    float:right;
    background-position: top right !important;
    cursor: pointer;
    position: relative;
    &:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
	input[type="file"]{
		  filter: alpha(opacity=1);
		  -moz-opacity: 0.01;
		  opacity: 0.01;
		  position: absolute;
		  right: 0;
		  top: 0;
	}
	input[type="button"]{
		border:none;
		background: none;
	}
}
.poll-icon {
	 background: url(../img/poll_icon.png) no-repeat;
	 input {
	 width:100%;
	 	 }
}
.attach-icon {
	background: url(../img/attach_icon.png) no-repeat;	
}
.image-icon {
	background: url(../img/image_icon.png) no-repeat;
	top: 1px;
    position: relative;	
}
.video-icon {
	background: url(../img/video_icon.png) no-repeat;
	top: 3px;
    position: relative;	
}
/* Common custom style :: starts */
button.button {
	border-radius:0;
	padding:2px 10px;
}
.item-select {
	min-height:40px;
	text-align:left;
	select {
		right:auto;
		left:0;
		width:100%;
		max-width:100%;
		min-height:30px;
		direction:ltr;
		& > option{
			width:100%;
		}

	}
}
.genie-page-footer {
	//background: $themeSolidBg;
	background: #7D3E6C;
	color: rgba(0, 0, 0, 0.3);
	height: 12px;
	line-height: 12px;
	.title {
		//color: #cc93ff;
		color: #a05f83;		
		font-family: "Helvetica Neue";
		font-size: 10px;
		font-weight: 500;
		line-height: 12px;
		display: none;
	}
	&.genie-login-page-footer {
		background: white;
		height: 24px;
		line-height: 24px;
		position: fixed;
		bottom: 0;
		z-index: 3;
		width: 100%;
		.title {
			line-height: 24px;
			display: block;
			width: 30px;
    		margin: 0px auto;
		}
	}
}
/* Common custom style :: end */


/* app calendar custom css :: starts*/
.month-title {
	text-align:center;
	color: #f5a623;
	font-weight: 400;
	width:100%;
	text-align:center;
    //left: calc(50% - 40px);	
    position:absolute;
    top:90px;
    font-size:15px;
    z-index:1;
    text-transform: uppercase;
}

.weekview-header {
	margin-top: 6px;
}
.monthview-datetable.table, .weekview-header.table {
	tbody
	{
		tr {
			&.month-title-placeholder {
				visibility: hidden;
				& > td {
					/*padding:0.5vh 0.2vh 0.5vh;*/
					height:3vh;
					font-size:0;
					span {
						height:0vh;
					}
				}
			}
			& >	td {
					border:none;	
					padding:0;
					height:8vh;
					position: relative;
					&:first-child > span, &:last-child > span{
						color: $calendarHolidayColor;
					}
					&.monthview-current {
						span {
							color: #fff;
						}
					}
					&  .chart-container {
						top: 1px;
						left: -9px;
						position: absolute;
						width: 50px !important;
						height: 50px !important;
						 canvas {
							top: 1px;
							left: -9px;
							position: absolute;
							width: auto !important;
							height: auto !important;
						}
					}
					& > span {
						color: $calendarTextColor;
						display: inline-block;
						padding:5px 8px;
						border-radius:50%;
						border-width: 2px;
						border-style: solid;
						border-color: transparent
					}
					&.monthview-selected, &.calendar-event-inner, &.monthview-primary-with-event, &.monthview-secondary-with-event, &.monthview-current {
						background-color:transparent;
						color:inherit;
						& > span {
							border:2px solid #dadada;
							//border:none;
							& span{
								background:#fff;
							}
						}
					}
					&.monthview-selected > span {
						border-color:#ccc;
					}
					&.monthview-primary-with-event > span {
						    /*border-color: #fff;
						    border-top-color: #cbc7e1;
						    border-left-color: #d0021b;
						    border-right-color: #7ed321;
						    border-bottom-color: #f5a623;*/
						    border-color:rgba(204, 204, 204, 0.45); 
					}
					&.monthview-secondary-with-event > span {
						border-color:#d9edf7;
					}
				}
			}
	}
	thead{
		opacity: 0.72;
    	background-color: $themeSolidBg;
		& th {
			border-bottom:none;
			padding:6px 4px;
			color: #d2d2d2;
			white-space:nowrap;
			&:nth-child(6), &:last-child{
				color: #f5a623;
			}
		}
	}
}
.monthview-datetable.table {
	margin-top:30px;
	thead{
		font-size:13px;
		text-transform:uppercase;
	}
	tbody {
		tr {
			& > td {
				font-size:18px;
				height:15vh;
				canvas {
					display: none;
				}
			}
		}

	}

}
.calendar-container .monthview-slide {
	height:100%;
}
/* weekview*/
.weekview-normal-event-table.table {
	border:none;
	td {
		border-color:rgba(255,255,255,0.15);
		border-bottom:none;
		border-top:none;
	}
}
.weekview-normal-event-container.has-subheader, .dayview-slide .scroll-content.has-subheader {
	top:38px;	
}
.genie-search-input {
	height:40px;
	//height:auto;
	width:calc(100% - 10px);
	padding:0;
	margin: 5px;
	-webkit-box-shadow:0px 2px 0px 3px #924972;
	box-shadow:0px 2px 0px 3px #924972;
	input {
		height: inherit;
	    //min-width: 270px;
	    padding: 5px 10px;
	}
	.token-input-list-facebook {
		 	margin-bottom: 3px;
	}
/*	.token-input-delete-token-facebook {
		cursor: pointer;
	}*/
}
.weekview-normal-event-container {
	padding-bottom:40px;
}
.weekview-normal-event-container.has-subheader {
	top:30px;
}
.weekview-slide {
	top:40px;
	& .bar-subheader {
		top:0;
	}
	& > .slider-slides {
		height: calc(100% - 90px);
	}
}
.week-view-event {
	padding:3px;
	//border-right:3px solid orange;
	color:#333;
	background: #fff;
	& > p {
		width: 	100%;
		display: block;
	  /* Fallback for non-webkit */
	  display: -webkit-box;
	  max-width: 100%;
	  height: 34px;
	  /* Fallback for non-webkit */
	  margin: 0 auto;
	  color: #4a4a4a;
	  font-size: 12px;
	  line-height: 1.4;
	  -webkit-line-clamp: 2;
	  -webkit-box-orient: vertical;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
}
.weekview-normal-event-container{
	.calendar-event {
	    position: relative;
	    padding: 1px;
	    cursor: pointer;
	    z-index: 10000;
	    //margin: 0 0 5px 0;
	    .button {
    	    padding:0 2px;
			min-height: 16px;
			line-height: 16px;
			text-overflow: ellipsis;
			display: inline-block;
			width: 100%;
			font-size: 12px;
			overflow: hidden;
			white-space: nowrap;
			//background-color: #fc9ea9;
			&.multiple-events {
				background-color: #c4ea9a;
			}
	    }
	}
}
/*day view*/
.dayview {
	&  .has-header  {
		top:0;
	}
}
/*day view*/
	.dayview, .weekview {
			.genie-search-input {
				margin-top: 0;
				top:88px 
			}
			.scroll-content {
				top:38px !important;
				margin-bottom:50px;
			}
		}
	.monthview {
		top:88px;
		&.no-searchbar {
			.activityContainer {
				top:88px;
			}
		}
	}
	/*Note: if searchbar present : removed this defination*/
	.month-title {
		top: 87px;
	}
	/*if searchbar present : removed this defination*/
.calendar-tabs {
		margin-top:44px;
		.bar-header{
		background:transparent;
		border-bottom:0;
		.button-clear{
			font-size:16px;
			&:last-child{
				right:10px;
			}
			& > span {
				z-index: 1;
				position:relative;	
			}
		}
		.title.shiftTitle {
			margin-left:100px;
		}
		& .title, &  .button-clear {
			color:#fff;
			font-weight:300;
			& .button-clear {
				margin-top:5px;
			}
		}
		.current-date {
			display:none;
		}
		.current {
			font-weight:400;
				& > span {
					display:inline-block;
					//padding:0 5px;
				}
				.current-date {
					display:inline-block;
				}
				.calendar-state-NB  {
					width:22px;
					height:22px;
					cursor:pointer;
					bottom:-5px;
					&.next-icon {
						 background: url(../img/next.png) no-repeat center right;
					}
					&.back-icon {
						background: url(../img/back.png) no-repeat center left;
					}
				}

				/*&:before{
					content:"\003c";
				}
				&:after{
					content:"\003e";
					position: relative;
				    top: 0;
				    right: 0;
				    bottom: 0;
				    left: 0;
				}*/

		}
	}
}
#search-box {
	border:none;
	padding:0;
	.item-input {
		min-width: 100%;
	    padding: 6px 0px 6px 6px;
	    margin: 0px;
	    input {
	    	padding-right:6px;
	    }
	}
}

/* app calendar custom css :: ends*/

/* poll-view UI: starts */
.gn-poll-view {
	display: block;
    min-height: 40px;
    margin:10px 0;
    &.poll-view-teacher {
			.gn-poll-option {
				display:none;
			}
			.gn-poll-option-text {
				//margin-left:10px;
				margin-top:5px;
			}
		}
	.gn-poll-option{
		//float:left;
		width:50px;
	}
	.gn-poll-option-text {
		margin-left:50px;
		line-height:22px;
		margin-top:-10px;
		width:calc(100% - 50px);
	}
		 .checkbox {
		 		top: 0;
		 		margin:0;
		 		width:40px;
		 		height:40px;
		 &.radio {
		 	border-radius:50%;
		 	& > input {
		 		border-radius:50%;
		 		box-shadow:none;
		 		border:1px solid #979797;
			 	&:before{
			 		border-radius:50%;
			 		outline:none;
			 		box-shadow:none;
			 	}
		 	}
		 }		
	 		input, .checkbox-icon{
	 			width: 22px;
			    height: 22px;
			    -moz-box-shadow: 2px 2px 0px #ccc;
			    -webkit-box-shadow: 2px 2px 0px #ccc;
			    box-shadow: 2px 2px 0px #ccc;
			    &:before {
			      border-radius: 0;
			      background: #d8d8d8;
			      outline: 1px solid #979797;
			    }
			     &:checked:before,  &:checked + &:before {
			        background:  #773b6b;
			        border-color: #ddd;
			        border-width:3px;
			     }
			      &:after{
			        border:none;
			     }
	 		}
		 }
}
/* poll-view UI: ends */


/* attachment UI: starts */
.item.detail-attachment-item {
	background: none;
	border:none;
	padding: 0;
	.attachment-img-row {
		table {
			margin-bottom: 5px;
			 td {
				background: #fff;
			    padding-bottom: 0;
			    margin: 0;
			    line-height: 12px;
			}
		}
	}
}
.attachment-detailed-view, .attachment-feed-view {
	padding:0 5px;
    .attachment-img-row {
    	/*&:only-child {
					  table td {  text-align: left;}
					}*/
	&:first-child table td {
   	padding-left: 10px;
   }
    	& > table{
			   width: 100%;
			   padding: 0;
			   td {
				   vertical-align: middle;
				   text-align: left;
				   width:100%;

			    	img {
			    		max-width:100%;
			    	}
			   }
    	}
    }
}
.gn-dual-attachment-view {
	display: -webkit-flex;
    display: flex;
    .attachment-thumb-row {
    	width:100%;
    	margin:0;
    	.attachment-name {
    		width:calc(100% - 50px);
    	}
    	.attachment-close {
    		visibility:hidden;
    	}
    }
    .attachment-img-row {
    	& > table{
			   width: 100%;
			   padding: 0;
			   height:100%;
			   td {
				   vertical-align: middle;
				   text-align: center;
				   width:100%;
				   position:relative;
			    	img {
			    		max-width:100%;
			    	}
			    	.see-more-img {
			    		background:rgba(0,0,0,.6);
			    		position:absolute;
			    		top:0;
			    		left:0;
			    		width:100%;
			    		height:100%;
			    		display:block;
			    		z-index:1;
			    		color:#fff;
			    		text-align:center;
			    		span {
			    			position:absolute;
			    			top:calc(50% - 2vh);
			    			left:calc(50% - 8vw);
			    			font-size:10vw;
			    		}
			    	}
			   }
    	}
    }
}
.attachment-feed-view {
	padding:0;
	margin: 10px -10px;
	.gn-dual-attachment-view {
		margin-bottom: 5px;
	}
}
.attachment-feed-view {
	.gn-dual-attachment-view {
		margin-bottom: 5px;
	}
}
.attachment-thumb-row {
	height:44px;
	background:#fff;
	margin:5px 0 0;
	display:block;
	.attachment-thumb {
		float:left;
		padding:6px;
	}
	.attachment-name {
		float:left;
		line-height: 42px;
    	padding: 0px 5px;
    	width:calc(100% - 92px);
    	white-space:nowrap;
    	text-overflow:ellipsis;
    	overflow:hidden;
    	font-size: 12px;
		font-weight: 400;
	}
	.attachment-close {
		float:right;
		height:inherit;
		button {
			background:none;
			height:inherit;	
		}
	}	
}
/* attachment UI: ends */

/* Roles based view and UI changes: starts */
.parent-searchbar {
	padding: 5px;
	.tags-label {
		margin-right: 5px;
		.ion-checkmark {
			display: inline-block;
			margin-left: 2px;
		}
	}
}
.gn-parent-view {
	.genie-search-input {
		/*input {
			display: none;
		}*/
	}
}
.gn-teacher-view { 
	/*.genie-search-input {
		height: auto;
		 .token-input-list-facebook {
		 	margin-bottom: 3px;
		 }
	}*/
}
/* Roles based view and UI changes: ends */

/* no activities*/
.gn-no-activities {
	width: 222px;
    height: 60px;
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    margin: 78px auto;
    padding: 20px 0;
    .alert-msg {
    	padding: 40px 0;
    	& > i {
    		font-size: 40px;
    		margin-bottom: 10px;
    		display: inline-block;	
    	}
    }
}
/* no activities*/

/* see who screen:: starts */
.gn-see-who-screen {
	.user-completion-data {
		width:calc(100% - 20px);
		margin:10px;
		background:#fff;
		tr:first-child{
			td{
				//font-weight:bold;
				color:#000;
			}
		}
		td {
			padding:10px;
			border-bottom:1px solid #e2e2e2;
			color:#888;
			&:first-child {
				text-align:center;
			}
		}
	}
}

/* see who screen:: ends */



/* loader :: starts*/
// ----------------------------------------------

.gn-loader-container {
	 background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    display:none;
}
.gn-loader {
	position: absolute;
	  top: 50%;
	  left: 50%;
	width: 50px;
	height: 50px;
 	margin: 0;
	//perspective: 800px;
  	//transform: translate(50%,50%);
  	z-index:99999;

	// This is the element that rotates with the animation
	span {
	        background: rgba(146, 73, 114, 0.95);
		    position: absolute;
		    z-index: 999;
		    width: 220px;
		    height: 50px;
		    margin-left: -115px;
		    margin-top: -12px;
		    border-radius: 5px;
	}
	&__content {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index:999999;
		-webkit-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transform: translateZ(-42px) rotateY(0);
		-ms-transform: translateZ(-42px) rotateY(0);
		transform: translateZ(-42px) rotateY(0);
		-webkit-animation:carousel 1.5s infinite ease-out forwards;
		-ms-animation:carousel 1.5s infinite ease-out forwards;
		animation:carousel 1.5s infinite ease-out forwards;
		//animation: carousel 1.5s infinite cubic-bezier(1,.015,.295,1.225) forwards;
		margin-left:-30px;
	}


	&__item {
		position: absolute;
		top: 0;
		left: 0;
		width: 50px;
		height: 50px;
		border-radius: 6px;
		text-align:center;
		&:nth-child(1) {
			//background: rgba(252,192,77,.9);
			-webkit-transform: rotateY(0) translateZ(75px);
			-ms-transform: rotateY(0) translateZ(75px);
			transform: rotateY(0) translateZ(75px);
		}

		&:nth-child(2) {
			//background: rgba(49,192,204,.9);
			-webkit-transform: rotateY(120deg) translateZ(75px);
			-ms-transform: rotateY(120deg) translateZ(75px);
			transform: rotateY(120deg) translateZ(75px);
		}

		&:nth-child(3) {
			//background: rgba(236,233,242,.9);
			-webkit-transform: rotateY(240deg) translateZ(75px);
			-ms-transform: rotateY(240deg) translateZ(75px);
			transform: rotateY(240deg) translateZ(75px);
		}
	}
}

@-webkit-keyframes carousel {
	0%,  17.5%  { 
		-webkit-transform: translateZ(-42px) rotateY(0); 
		-ms-transform: translateZ(-42px) rotateY(0); 
		transform: translateZ(-42px) rotateY(0); 
		}
	27.5%, 45%  { 
		-webkit-transform: translateZ(-42px) rotateY(-120deg); 
		-ms-transform: translateZ(-42px) rotateY(-120deg); 
		transform: translateZ(-42px) rotateY(-120deg); 
		}
	55%, 72.5%  { 
		-webkit-transform: translateZ(-42px) rotateY(-240deg); 
		-ms-transform: translateZ(-42px) rotateY(-240deg); 
		transform: translateZ(-42px) rotateY(-240deg); 
		}
	82.5%, 100% { 
		-webkit-transform: translateZ(-42px) rotateY(-360deg); 
		-ms-transform: translateZ(-42px) rotateY(-360deg); 
		transform: translateZ(-42px) rotateY(-360deg); 
		}
}

@keyframes carousel {
	0%,  17.5%  { 
		-webkit-transform: translateZ(-42px) rotateY(0); 
		-ms-transform: translateZ(-42px) rotateY(0); 
		transform: translateZ(-42px) rotateY(0); 
		}
	27.5%, 45%  { 
		-webkit-transform: translateZ(-42px) rotateY(-120deg); 
		-ms-transform: translateZ(-42px) rotateY(-120deg); 
		transform: translateZ(-42px) rotateY(-120deg); 
		}
	55%, 72.5%  { 
		-webkit-transform: translateZ(-42px) rotateY(-240deg); 
		-ms-transform: translateZ(-42px) rotateY(-240deg); 
		transform: translateZ(-42px) rotateY(-240deg); 
		}
	82.5%, 100% { 
		-webkit-transform: translateZ(-42px) rotateY(-360deg); 
		-ms-transform: translateZ(-42px) rotateY(-360deg); 
		transform: translateZ(-42px) rotateY(-360deg); 
		}
}

/* loader :: ends*/