@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?yqxuft');
    src:    url('fonts/icomoon.eot?yqxuft#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?yqxuft') format('truetype'),
        url('fonts/icomoon.woff?yqxuft') format('woff'),
        url('fonts/icomoon.svg?yqxuft#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
    content: "\e902";
}
.icon-megaphone:before {
    content: "\e900";
}
.icon-warning:before {
    content: "\e901";
}

