<div class="dayview">
	<ion-header-bar class="bar-subheader genie-search-input" >
		<!-- <input type="text" class="form-control" id="day-calendar-user-groups"/> -->
		<!-- <input type="text" class="activity-stream-selected-groups" id="day-calendar-user-groups"/> -->
		<tags-input ng-model="selectedParentFilters" add-from-autocomplete-only="true" 
                  on-tag-added="addParentGroup($tag)"
                  placeholder="Select Childs(s) to filter"
                  on-tag-removed="removeParentGroup($tag)"
                  ng-if="userLoginData.userType=='parent'"
                  on-tag-clicked="removeParentGroup($tag)"
                  display-property="displayName" key-property="id">
              <auto-complete source="loadParentFilters($query)" min-length="0" 
              		load-on-focus="true" load-on-down-arrow="true" load-on-click="true" load-on-empty="true"
                     debounce-delay="0" max-results-to-show="100" highlight-matched-text="true"></auto-complete>
        </tags-input>
        <!-- <div class="parent-searchbar" ng-if="getUserLoginData().userType=='parent'">
            <button class="tags-label" ng-click="removeParentGroup(group, $index)" ng-touch="removeParentGroup(group, $index)" 
                   ng-repeat="group in selectedParentFilters track by $index">{{group.displayName}} 
                <i class="ion-checkmark"></i>
            </button>
            <button class="tags-label" ng-click="addParentGroup(group, $index)" ng-touch="addParentGroup(group, $index)" 
                  ng-repeat="group in availableParentGroups | showAvailableParentFilters:selectedParentFilters track by $index">{{group.displayName}}<i></i>
            </button>
        </div> -->
        <!-- on-tag-removing="allowGroupRemove(filterGroup)" -->
        <tags-input ng-model="selectedFilterGroups" class="teacher-searchbar" add-from-autocomplete-only="true" 
                  placeholder="Select Groups(s) to filter"
                  on-tag-added="addFilterGroup($tag)"  min-length="2"
                  on-tag-removed="removeFilterGroup($tag)"
                  ng-if="getUserLoginData().userType=='teacher'"
                  on-tag-clicked="removeFilterGroup($tag)"
                  display-property="displayGroupName" key-property="id">
              <auto-complete source="loadTeacherFilters($query)" min-length="0" 
                     debounce-delay="0" max-results-to-show="100" load-on-focus="true" load-on-down-arrow="true" load-on-click="true"
                  highlight-matched-text="true" load-on-empty="true"></auto-complete>
        </tags-input>
		<!-- 		<input type="text" class="activityGroup-createEvent-selected" id="day-calendar-user-groups" readonly="true"/>
		-->	</ion-header-bar>
		<ion-slide-box class="dayview-slide" on-slide-changed="slideChanged($index)" does-continue="true"
		show-pager="false" delegate-handle="dayview-slide">
			<ion-slide ng-repeat="view in views track by $index">
				<ion-content class="activityContainer" overflow-scroll="false">  
					<ion-refresher class="pull-down-refresher" pulling-text="Pull to refresh..." on-refresh="doRefresh()">
					</ion-refresher>	
					<div ng-repeat="tm in view.rows track by $index">
						<ion-list ng-if="tm.events.length>0">
							<!-- <ion-item class="card gn-feed" ng-repeat="displayEvent in tm.events" class="calendar-event"> -->
							<ion-item class="card gn-feed" ng-repeat="displayEvent in tm.events track by $index" class="calendar-event" ng-if="userLoginData.userType=='teacher'">
								<div class="item item-text-wrap">									
									<p class="gn-date-stamp">
										<span class="due-today-stamp" ng-class="{'marked-done':isDueDateToday(displayEvent.event)==false}"
                      						ng-if="showDueDateFormat(displayEvent.event)==true">
                      							Due: Today
                      					</span>
                      					<span class="due-today-stamp" ng-class="{'marked-done':isDueDateToday(displayEvent.event)==false}"
                      						ng-if="showDueDateFormat(displayEvent.event)==false">
                      							Due: {{displayEvent.event.endTime | date : 'dd MMM yyyy'}}
                      					</span>
                      					<small class="non-action-text">{{displayEvent.event.updatedTime | date : 'dd MMMM yyyy h:mm a'}}</small>
                      					<small ng-if="displayEvent.event.activityOwner==userLoginData.genieId && 
										userLoginData.userType=='teacher'" class="action-icon">
											<i class="ion-edit" ng-touch="editActivity(displayEvent.event)" 
											ng-click="editActivity(displayEvent.event)"></i>
										</small>
										<small ng-if="displayEvent.event.activityOwner==userLoginData.genieId && 
										userLoginData.userType=='teacher'" class="action-icon">
											<i class="ion-android-close" ng-click="deleteActivity(displayEvent.event)"
											ng-touch="deleteActivity(displayEvent.event)"></i>  
										</small>
										<small class="action-icon" ng-if="displayEvent.event.activityOwner!=userLoginData.genieId 
												&& userLoginData.userType=='teacher'">
					                    	<i class="ion-android-favorite-outline" ng-click="likeUnlikeActivity(displayEvent.event, true)" 
											ng-touch="likeUnlikeActivity(displayEvent.event, true)" ng-if="displayEvent.event.like==false"></i>  
					                    	<i class="ion-android-favorite" ng-click="likeUnlikeActivity(displayEvent.event, false)" 
											ng-touch="likeUnlikeActivity(displayEvent.event, false)" ng-if="displayEvent.event.like==true"></i>  
										</small>
					                  	<small class="action-icon" ng-if="displayEvent.event.activityOwner!=userLoginData.genieId 
					                  			&& userLoginData.userType=='teacher' && displayEvent.event.activityType=='assignment'">
					                    	<i class="ion-android-done" ng-click="completeUncompleteActivity(displayEvent.event, true)" 
											ng-touch="completeUncompleteActivity(displayEvent.event, true)" ng-if="displayEvent.event.completed==false"></i>  
					                    	<i class="ion-android-done selected" ng-click="completeUncompleteActivity(displayEvent.event, false)" 		ng-touch="completeUncompleteActivity(displayEvent.event, false)"  ng-if="displayEvent.event.			completed==true"></i>  
										</small>
									</p>
<!-- 						                <span class="due-today-stamp" 
										ng-class="{'marked-done':isDueDateToday(displayEvent.event)==false && displayEvent.event.activityType=='assignment'}"> Due On: Today
										</span> -->
						                <!-- NOTE: added marked-done class should apply only when activity is done marked -->
						                <!-- <small class="non-action-text">999 Views</small> -->
						                <!-- for teacher to edit and delete:: starts -->
						                <!-- for teacher to edit and delete:: ends -->
									<p class="gn-feed-content pre-line-content" ng-click="eventSelected(displayEvent.event)" 
									ng-touch="eventSelected(displayEvent.event)">{{displayEvent.event.description}}</p>
									<!-- <p class="gn-feed-content">{{displayEvent.event.title}}</p> -->
								</div>
								<div class="cursor-pointer" ng-if="displayEvent.event.attachments.length>0" 
										ng-click="eventSelected(displayEvent.event)"  ng-touch="eventSelected(displayEvent.event)">
									<div class="attachment-feed-view">
										<div class="attachment-img-row" ng-if="checkImagesInActivity(displayEvent.event.attachments)==1">
					                      <table class="attachment-img-row" 
					                      			ng-repeat="attachment in displayEvent.event.attachments | ImagesOnly track by $index">
					                        <tr>
					                          <td>
					                            <img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment">
					                          </td>
					                        </tr>
					                      </table>
					                    </div>
					                    <div class="gn-dual-attachment-view" ng-if="checkImagesInActivity(displayEvent.event.attachments)>2">
											<div class="attachment-img-row" ng-repeat="attachment in displayEvent.event.attachments 
											| ImagesOnly track by $index">
												<table>
					                                <tr>
														<td ng-if="$index==0">
					                                        <img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment">
														</td>
					                                    <td ng-if="$index==1">
					                                        <img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment">
					                                        <div class="see-more-img"><span>+{{checkImagesInActivity(displayEvent.event.attachments)-1}}</span></div>
														</td>
													</tr>
												</table>
											</div>
										</div>
										<div class="gn-dual-attachment-view"  ng-if="checkImagesInActivity(displayEvent.event.attachments)==2">
											<div class="attachment-img-row" 
											ng-repeat="attachment in displayEvent.event.attachments | ImagesOnly track by $index">
												<table>
													<tr>
														<td><img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment"></td>
													</tr>
												</table>
											</div>
										</div>

										<div class="gn-dual-attachment-view">
					                      <div class="attachment-thumb-row clearfix" ng-if="$index<2"
					                            ng-repeat="attachment in displayEvent.event.attachments | NonImageFiles track by $index">
					                        <div class="attachment-thumb">
					                          <img ng-src="{{showFileTypeImage(attachment.fileType)}}" alt="attachment">
					                        </div>
					                        <div class="attachment-name">{{attachment.fileName | limitTo: 15}}</div>
					                      </div>
					                    </div>
					                    <div class="gn-dual-attachment-view">
					                      <div class="attachment-thumb-row clearfix" ng-if="$index>1 && $index<4" 
					                            ng-repeat="attachment in displayEvent.event.attachments | NonImageFiles track by $index">
					                        <div class="attachment-thumb">
					                          <img ng-src="{{showFileTypeImage(attachment.fileType)}}" alt="attachment">
					                        </div>
					                        <div class="attachment-name">{{attachment.fileName | limitTo: 15}}</div>
					                      </div>
					                    </div>
					                    <div class="gn-dual-attachment-view">
					                      <div class="attachment-thumb-row clearfix" ng-if="$index>3" 
					                            ng-repeat="attachment in displayEvent.event.attachments | NonImageFiles track by $index">
					                        <div class="attachment-thumb">
					                          <img ng-src="{{showFileTypeImage(attachment.fileType)}}" alt="attachment">
					                        </div>
					                        <div class="attachment-name">{{attachment.fileName | limitTo: 15}}</div>
					                      </div>
					                    </div>

										<!-- <div class="gn-dual-attachment-view">
											<div class="attachment-thumb-row clearfix"  ng-repeat="attachment in displayEvent.event.attachments | NonImageFiles track by $index">
												<div class="attachment-thumb">
													<img ng-src="{{showFileTypeImage(attachment.fileType)}}" alt="attachment">
												</div>
												<div class="attachment-name">{{attachment.fileName}}</div>
											</div>
										</div> -->
									</div>
								</div>

								<div class="gn-feed-indentifier cursor-pointer" ng-click="eventSelected(displayEvent.event)" 
									ng-touch="eventSelected(displayEvent.event)">
									<span class="gn-feed-filters">
										<button class="button button-small" name="Note" 
										ng-class="{'genie-filter-button1':$index==0,'genie-filter-button2':$index==1,'genie-filter-button3':$index==2,
										'genie-filter-button4':$index==3, 'genie-filter-button5':$index==4}"
										ng-repeat="group in $parent.groupsData(displayEvent.event.groupIdList) track by $index">{{group.displayGroupName}}</button>
										
										<button class="button button-small" name="Note" 
											ng-if="showInstituteName(displayEvent.event.instituteNames, displayEvent.event.groupIdList)"
													ng-repeat="inst in displayEvent.event.instituteNames track by $index">
											{{inst.displayName}}
										</button>
										<button class="button button-small" name="Note">{{displayEvent.event.teacherName}}</button>
									</span>
									<!-- activity Type :: starts -->
									<button class="button activity-type-identifier button-note button-small" name="Note"  ng-if="displayEvent.event.activityType=='note'">
										<span>Note</span>
									</button>
									<button class="button activity-type-identifier button-test button-small" name="Test" ng-if="displayEvent.event.activityType=='test'">
										<span>Test</span>
									</button>
									<button class="button activity-type-identifier button-assignment button-small" name="Assignment" ng-if="displayEvent.event.activityType=='assignment'">
										<span>Assignment</span>
									</button>
									<!-- activity Type :: ebds -->                
								</div>				
							</ion-item>
							<!-- <ion-item class="card gn-feed" ng-repeat="displayEvent in tm.events" class="calendar-event"> -->
							<ion-item class="card gn-feed" ng-repeat="displayEvent in tm.events track by $index" 
								class="calendar-event" ng-if="userLoginData.userType=='parent'">
								<div class="item item-text-wrap">									
						                <!-- <span class="due-today-stamp" ng-class="{'marked-done':isDueDateToday(displayEvent.event)==false && 
										displayEvent.event.activityType=='assignment'}">Due On: Today</span> -->
										<!-- <span class="due-today-stamp" ng-class="{'marked-done':isDueDateToday(displayEvent.event)==false}"
                      						ng-if="showDueDateFormat(displayEvent.event)==true">
                      							Due: Today
                      					</span>
                      					<span class="due-today-stamp" ng-class="{'marked-done':isDueDateToday(displayEvent.event)==false}"
                      						ng-if="showDueDateFormat(displayEvent.event)==false">
                      							Due: {{displayEvent.event.endTime | date : 'dd MMM yyyy'}}
                      					</span> -->
                      				<p class="gn-date-stamp">
                      					<span class="due-today-stamp" ng-class="{'marked-done':isDueDateToday(displayEvent.event)==false}"
                      						ng-if="showDueDateFormat(displayEvent.event)==true">
                      							Due: Today
                      					</span>
                      					<span class="due-today-stamp" ng-class="{'marked-done':isDueDateToday(displayEvent.event)==false}"
                      						ng-if="showDueDateFormat(displayEvent.event)==false">
                      							Due: {{displayEvent.event.endTime | date : 'dd MMM yyyy'}}
                      					</span>
                      					<small class="non-action-text">{{displayEvent.event.updatedTime | date : 'dd MMMM yyyy h:mm a'}}</small>
										<!-- for parents like and ticked::starts -->
										<small class="action-icon" ng-if="userLoginData.userType=='parent'">
					                    	<i class="ion-android-favorite-outline" ng-click="likeUnlikeActivity(displayEvent.event, true)" 
											ng-touch="likeUnlikeActivity(displayEvent.event, true)" ng-if="displayEvent.event.like==false"></i>  
					                    	<i class="ion-android-favorite" ng-click="likeUnlikeActivity(displayEvent.event, false)" 
											ng-touch="likeUnlikeActivity(displayEvent.event, false)" ng-if="displayEvent.event.like==true"></i>  
										</small>
					                  	<small class="action-icon" ng-if="userLoginData.userType=='parent' && 
										displayEvent.event.activityType=='assignment'">
					                    	<i class="ion-android-done" ng-click="completeUncompleteActivity(displayEvent.event, true)" 
											ng-touch="completeUncompleteActivity(displayEvent.event, true)" ng-if="displayEvent.event.completed==false"></i>  
					                    	<i class="ion-android-done selected" ng-click="completeUncompleteActivity(displayEvent.event, false)" 		ng-touch="completeUncompleteActivity(displayEvent.event, false)"  ng-if="displayEvent.event.			completed==true"></i>  
										</small>
										<!-- for parents like and ticked:: ends -->
									</p>
									<p class="gn-feed-content pre-line-content" ng-click="eventSelected(displayEvent.event)" 
									ng-touch="eventSelected(displayEvent.event)">{{displayEvent.event.description}}</p>
									<!-- <p class="gn-feed-content">{{displayEvent.event.title}}</p> -->
								</div>

								<div ng-if="displayEvent.event.attachments.length>0" ng-click="eventSelected(displayEvent.event)" 
									ng-touch="eventSelected(displayEvent.event)" class="cursor-pointer">
									<div class="attachment-feed-view">
										<div class="attachment-img-row" ng-if="checkImagesInActivity(displayEvent.event.attachments)==1">
					                      <table class="attachment-img-row" 
					                      			ng-repeat="attachment in displayEvent.event.attachments | ImagesOnly track by $index">
					                        <tr>
					                          <td>
					                            <img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment">
					                          </td>
					                        </tr>
					                      </table>
					                    </div>
					                    <div class="gn-dual-attachment-view" ng-if="checkImagesInActivity(displayEvent.event.attachments)>2">
											<div class="attachment-img-row" ng-repeat="attachment in displayEvent.event.attachments 
											| ImagesOnly track by $index">
												<table>
					                                <tr>
														<td ng-if="$index==0">
					                                        <img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment">
														</td>
					                                    <td ng-if="$index==1">
					                                        <img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment">
					                                        <div class="see-more-img"><span>+{{checkImagesInActivity(displayEvent.event.attachments)-1}}</span></div>
														</td>
													</tr>
												</table>
											</div>
										</div>
										<div class="gn-dual-attachment-view"  ng-if="checkImagesInActivity(displayEvent.event.attachments)==2">
											<div class="attachment-img-row" 
											ng-repeat="attachment in displayEvent.event.attachments | ImagesOnly track by $index">
												<table>
													<tr>
														<td><img ng-src="{{getAttachmentUrl(attachment.servingUrl)}}" alt="IMGattachment"></td>
													</tr>
												</table>
											</div>
										</div>

										<div class="gn-dual-attachment-view">
					                      <div class="attachment-thumb-row clearfix" ng-if="$index<2"
					                            ng-repeat="attachment in displayEvent.event.attachments | NonImageFiles track by $index">
					                        <div class="attachment-thumb">
					                          <img ng-src="{{showFileTypeImage(attachment.fileType)}}" alt="attachment">
					                        </div>
					                        <div class="attachment-name">{{attachment.fileName | limitTo: 15}}</div>
					                      </div>
					                    </div>
					                    <div class="gn-dual-attachment-view">
					                      <div class="attachment-thumb-row clearfix" ng-if="$index>1 && $index<4" 
					                            ng-repeat="attachment in displayEvent.event.attachments | NonImageFiles track by $index">
					                        <div class="attachment-thumb">
					                          <img ng-src="{{showFileTypeImage(attachment.fileType)}}" alt="attachment">
					                        </div>
					                        <div class="attachment-name">{{attachment.fileName | limitTo: 15}}</div>
					                      </div>
					                    </div>
					                    <div class="gn-dual-attachment-view">
					                      <div class="attachment-thumb-row clearfix" ng-if="$index>3" 
					                            ng-repeat="attachment in displayEvent.event.attachments | NonImageFiles track by $index">
					                        <div class="attachment-thumb">
					                          <img ng-src="{{showFileTypeImage(attachment.fileType)}}" alt="attachment">
					                        </div>
					                        <div class="attachment-name">{{attachment.fileName | limitTo: 15}}</div>
					                      </div>
					                    </div>

										<!-- <div class="gn-dual-attachment-view">
											<div class="attachment-thumb-row clearfix"  ng-repeat="attachment in displayEvent.event.attachments | NonImageFiles track by $index">
												<div class="attachment-thumb">
													<img ng-src="{{showFileTypeImage(attachment.fileType)}}" alt="attachment">
												</div>
												<div class="attachment-name">{{attachment.fileName}}</div>
											</div>
										</div> -->
									</div>
								</div>
								
								
								<div class="gn-feed-indentifier cursor-pointer" ng-click="eventSelected(displayEvent.event)" 
									ng-touch="eventSelected(displayEvent.event)">
									<span class="gn-feed-filters">
										<button class="button button-small" name="Note" 
										ng-class="{'genie-filter-button1':$index==0,'genie-filter-button2':$index==1,'genie-filter-button3':$index==2,
										'genie-filter-button4':$index==3, 'genie-filter-button5':$index==4}"
										ng-repeat="group in $parent.groupsData(displayEvent.event.groupIdList) track by $index">{{group.displayGroupName}}</button>
										<button class="button button-small" name="Note" 
											ng-if="showInstituteName(displayEvent.event.instituteNames, displayEvent.event.groupIdList)"
										ng-repeat="inst in displayEvent.event.instituteNames track by $index">
											{{inst.displayName}}
										</button>
	        							<button class="button button-small" name="Note" ng-if="userLoginData.userType=='parent'"
										ng-repeat="child in displayEvent.event.activityChildData track by $index">
											{{child.firstName}}
										</button>
										<button class="button button-small" name="Note">{{displayEvent.event.teacherName}}</button>
									</span>
									
									<!-- activity Type :: starts -->
									<button class="button activity-type-identifier button-note button-small" name="Note"  ng-if="displayEvent.event.activityType=='note'">
										<span>Note</span>
									</button>
									<button class="button activity-type-identifier button-test button-small" name="Test" ng-if="displayEvent.event.activityType=='test'">
										<span>Test</span>
									</button>
									<button class="button activity-type-identifier button-assignment button-small" name="Assignment" ng-if="displayEvent.event.activityType=='assignment'">
										<span>Assignment</span>
									</button>
									<!-- activity Type :: ebds -->                
								</div>								
							</ion-item>				
						</ion-list>
						<div class="gn-no-activities" ng-if="tm.events.length<1 && $index==0 && checkActivityLoaded()==true">
							<div class="alert-msg">
						        <i class="ion-alert-circled"></i>
						          <!-- <p>If you think thats not the case please contact your school. Make sure you are enrolled to recive activities for your child</p> -->
						   	</div>
						    <p>Looks like you have no activities to view for the groups chosen.</p>						
						</div>
<!-- 						<ion-list ng-if="tm.events.length<1 && $index==0">
							<ion-item class="card gn-feed">
								<div class="item item-text-wrap" >
									<p class="gn-feed-content">
										<span>No Data for now</span>
									</p>
								</div>
							</ion-item>
						</ion-list> -->
					</div>
				</ion-content>
				
			</ion-slide>
		</ion-slide-box>
</div>															