<div class="monthview no-searchbar">
    <!-- Note: if searchbar present : removed .month-title  defination contains top:44px  -->
<!-- Note: if searchbar enable remove no-searchbar class  from above -->
                    <!-- search/ typeahead -->
            <!-- <ion-header-bar class="bar-subheader genie-search-input">
                    <input type="text" class="form-control" id="month-calendar-user-groups"  />
            </ion-header-bar> -->
            <!-- search/ typeahead -->
            
                    <!-- search/ typeahead -->
<ion-content class="activityContainer"> 
    <ion-refresher class="pull-down-refresher" pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-slide-box class="monthview-slide" on-slide-changed="slideChanged($index)" does-continue="true"
                   show-pager="false" delegate-handle="monthview-slide">
        <ion-slide ng-repeat="view in views track by $index">
         
            <table ng-if="$index===currentViewIndex" class="table table-fixed monthview-datetable">
                <thead>
                <tr>
                    <th ng-repeat="day in view.dates.slice(0,7) track by day.date">
                        <!-- <small>{{::day.date | date: formatDayHeader}}</small> -->
                        {{::day.date | date: formatDayHeader | capitalizeMonth}}
                    </th>
                </tr>
                </thead>
                <tbody>              

                <tr class="month-title-placeholder">
                    <td colspan="7"><span>&nbsp;</span></td>
                </tr>
                <tr>
                    <td ng-click="select(view.dates[0].date)" ng-touch="select(view.dates[0].date)"
                        ng-class="getHighlightClass(view.dates[0])">
                        <span ng-style="applyDateEventClasses(view.dates[0])">{{view.dates[0].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[1].date)" ng-touch="select(view.dates[1].date)"
                        ng-class="getHighlightClass(view.dates[1])">
                        <span ng-style="applyDateEventClasses(view.dates[1])">{{view.dates[1].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[2].date)" ng-touch="select(view.dates[2].date)"
                        ng-class="getHighlightClass(view.dates[2])">
                        <span ng-style="applyDateEventClasses(view.dates[2])">{{view.dates[2].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[3].date)" ng-touch="select(view.dates[3].date)"
                        ng-class="getHighlightClass(view.dates[3])">
                            <span ng-style="applyDateEventClasses(view.dates[3])">{{view.dates[3].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[4].date)" ng-touch="select(view.dates[4].date)"
                        ng-class="getHighlightClass(view.dates[4])" >
                            <span ng-style="applyDateEventClasses(view.dates[4])">{{view.dates[4].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[5].date)" ng-touch="select(view.dates[5].date)"
                        ng-class="getHighlightClass(view.dates[5])">
                            <span ng-style="applyDateEventClasses(view.dates[5])">{{view.dates[5].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[6].date)" ng-touch="select(view.dates[6].date)"
                        ng-class="getHighlightClass(view.dates[6])">
                            <span ng-style="applyDateEventClasses(view.dates[6])">{{view.dates[6].label}}</span>
                    </td>
                </tr>
                <tr>
                    <td ng-click="select(view.dates[7].date)" ng-touch="select(view.dates[7].date)"
                        ng-class="getHighlightClass(view.dates[7])">
                            <span ng-style="applyDateEventClasses(view.dates[7])">{{view.dates[7].label}}</span>
                                <canvas id="doughnut" height="35" width="70"  class="chart chart-doughnut" chart-data="data" 
                                    chart-options="options" 
                                    chart-labels="labels">     
                                  </canvas> 

                    </td>
                    <td ng-click="select(view.dates[8].date)" ng-touch="select(view.dates[8].date)"
                        ng-class="getHighlightClass(view.dates[8])">
                            <span ng-style="applyDateEventClasses(view.dates[8])">{{view.dates[8].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[9].date)" ng-touch="select(view.dates[9].date)"
                        ng-class="getHighlightClass(view.dates[9])">
                            <span ng-style="applyDateEventClasses(view.dates[9])">{{view.dates[9].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[10].date)" ng-touch="select(view.dates[10].date)"
                        ng-class="getHighlightClass(view.dates[10])">
                            <span ng-style="applyDateEventClasses(view.dates[10])">{{view.dates[10].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[11].date)" ng-touch="select(view.dates[11].date)"
                        ng-class="getHighlightClass(view.dates[11])">
                            <span ng-style="applyDateEventClasses(view.dates[11])">{{view.dates[11].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[12].date)" ng-touch="select(view.dates[12].date)"
                        ng-class="getHighlightClass(view.dates[12])">
                            <span ng-style="applyDateEventClasses(view.dates[12])">{{view.dates[12].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[13].date)" ng-touch="select(view.dates[13].date)"
                        ng-class="getHighlightClass(view.dates[13])">
                            <span ng-style="applyDateEventClasses(view.dates[13])">{{view.dates[13].label}}</span>
                    </td>
                </tr>
                <tr>
                    <td ng-click="select(view.dates[14].date)" ng-touch="select(view.dates[14].date)"
                        ng-class="getHighlightClass(view.dates[14])">
                            <span ng-style="applyDateEventClasses(view.dates[14])">{{view.dates[14].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[15].date)" ng-touch="select(view.dates[15].date)"
                        ng-class="getHighlightClass(view.dates[15])">
                            <span ng-style="applyDateEventClasses(view.dates[15])">{{view.dates[15].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[16].date)" ng-touch="select(view.dates[16].date)"
                        ng-class="getHighlightClass(view.dates[16])">
                            <span ng-style="applyDateEventClasses(view.dates[16])">{{view.dates[16].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[17].date)" ng-touch="select(view.dates[17].date)"
                        ng-class="getHighlightClass(view.dates[17])">
                            <span ng-style="applyDateEventClasses(view.dates[17])">{{view.dates[17].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[18].date)" ng-touch="select(view.dates[18].date)"
                        ng-class="getHighlightClass(view.dates[18])">
                            <span ng-style="applyDateEventClasses(view.dates[18])">{{view.dates[18].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[19].date)" ng-touch="select(view.dates[19].date)"
                        ng-class="getHighlightClass(view.dates[19])">
                            <span ng-style="applyDateEventClasses(view.dates[19])">{{view.dates[19].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[20].date)" ng-touch="select(view.dates[20].date)"
                        ng-class="getHighlightClass(view.dates[20])">
                            <span ng-style="applyDateEventClasses(view.dates[20])">{{view.dates[20].label}}</span>
                    </td>
                </tr>
                <tr>
                    <td ng-click="select(view.dates[21].date)" ng-touch="select(view.dates[21].date)"
                        ng-class="getHighlightClass(view.dates[21])">
                            <span ng-style="applyDateEventClasses(view.dates[21])">{{view.dates[21].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[22].date)" ng-touch="select(view.dates[22].date)"
                        ng-class="getHighlightClass(view.dates[22])">
                            <span ng-style="applyDateEventClasses(view.dates[22])">{{view.dates[22].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[23].date)" ng-touch="select(view.dates[23].date)"
                        ng-class="getHighlightClass(view.dates[23])">
                            <span ng-style="applyDateEventClasses(view.dates[23])">{{view.dates[23].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[24].date)" ng-touch="select(view.dates[24].date)"
                        ng-class="getHighlightClass(view.dates[24])">
                            <span ng-style="applyDateEventClasses(view.dates[24])">{{view.dates[24].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[25].date)" ng-touch="select(view.dates[25].date)"
                        ng-class="getHighlightClass(view.dates[25])">
                            <span ng-style="applyDateEventClasses(view.dates[25])">{{view.dates[25].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[26].date)" ng-touch="select(view.dates[26].date)"
                        ng-class="getHighlightClass(view.dates[26])">
                            <span ng-style="applyDateEventClasses(view.dates[26])">{{view.dates[26].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[27].date)" ng-touch="select(view.dates[27].date)"
                        ng-class="getHighlightClass(view.dates[27])">
                            <span ng-style="applyDateEventClasses(view.dates[27])">{{view.dates[27].label}}</span>
                    </td>
                </tr>
                <tr>
                    <td ng-click="select(view.dates[28].date)" ng-touch="select(view.dates[28].date)"
                        ng-class="getHighlightClass(view.dates[28])">
                            <span ng-style="applyDateEventClasses(view.dates[28])">{{view.dates[28].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[29].date)" ng-touch="select(view.dates[29].date)"
                        ng-class="getHighlightClass(view.dates[29])">
                            <span ng-style="applyDateEventClasses(view.dates[29])">{{view.dates[29].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[30].date)" ng-touch="select(view.dates[30].date)"
                        ng-class="getHighlightClass(view.dates[30])">
                            <span ng-style="applyDateEventClasses(view.dates[30])">{{view.dates[30].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[31].date)" ng-touch="select(view.dates[31].date)"
                        ng-class="getHighlightClass(view.dates[31])">
                            <span ng-style="applyDateEventClasses(view.dates[31])">{{view.dates[31].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[32].date)" ng-touch="select(view.dates[32].date)"
                        ng-class="getHighlightClass(view.dates[32])">
                            <span ng-style="applyDateEventClasses(view.dates[32])">{{view.dates[32].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[33].date)" ng-touch="select(view.dates[33].date)"
                        ng-class="getHighlightClass(view.dates[33])">
                            <span ng-style="applyDateEventClasses(view.dates[33])">{{view.dates[33].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[34].date)" ng-touch="select(view.dates[34].date)"
                        ng-class="getHighlightClass(view.dates[34])">
                            <span ng-style="applyDateEventClasses(view.dates[34])">{{view.dates[34].label}}</span>
                    </td>
                </tr>
                <tr>
                    <td ng-click="select(view.dates[35].date)" ng-touch="select(view.dates[35].date)"
                        ng-class="getHighlightClass(view.dates[35])">
                            <span ng-style="applyDateEventClasses(view.dates[35])">{{view.dates[35].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[36].date)" ng-touch="select(view.dates[36].date)"
                        ng-class="getHighlightClass(view.dates[36])">
                            <span ng-style="applyDateEventClasses(view.dates[36])">{{view.dates[36].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[37].date)" ng-touch="select(view.dates[37].date)"
                        ng-class="getHighlightClass(view.dates[37])">
                            <span ng-style="applyDateEventClasses(view.dates[37])">{{view.dates[37].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[38].date)" ng-touch="select(view.dates[38].date)"
                        ng-class="getHighlightClass(view.dates[38])">
                            <span ng-style="applyDateEventClasses(view.dates[38])">{{view.dates[38].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[39].date)" ng-touch="select(view.dates[39].date)"
                        ng-class="getHighlightClass(view.dates[39])">
                            <span ng-style="applyDateEventClasses(view.dates[39])">{{view.dates[39].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[40].date)" ng-touch="select(view.dates[40].date)"
                        ng-class="getHighlightClass(view.dates[40])">
                            <span ng-style="applyDateEventClasses(view.dates[40])">{{view.dates[40].label}}</span>
                    </td>
                    <td ng-click="select(view.dates[41].date)" ng-touch="select(view.dates[41].date)"
                        ng-class="getHighlightClass(view.dates[41])">
                            <span ng-style="applyDateEventClasses(view.dates[41])">{{view.dates[41].label}}</span>
                    </td>
                </tr>
                
                </tbody>
            </table>
            <table ng-if="$index!==currentViewIndex" class="table table-fixed monthview-datetable">
                <thead>
                <tr class="text-center">
                    <th ng-repeat="day in view.dates.slice(0,7) track by day.date">
                        <small>{{::day.date | date: formatDayHeader}}</small>
                    </th>
                </tr>
                </thead>
                <tbody>
                     <tr class="month-title-placeholder">
                        <td colspan="7"><span>&nbsp;</span></td>
                    </tr>
                <tr>
                    <td><span>{{view.dates[0].label}}</span></td>
                    <td><span>{{view.dates[1].label}}</span></td>
                    <td><span>{{view.dates[2].label}}</span></td>
                    <td><span>{{view.dates[3].label}}</span></td>
                    <td><span>{{view.dates[4].label}}</span></td>
                    <td><span>{{view.dates[5].label}}</span></td>
                    <td><span>{{view.dates[6].label}}</span></td>
                </tr>
                <tr>
                    <td><span>{{view.dates[7].label}}</span></td>
                    <td><span>{{view.dates[8].label}}</span></td>
                    <td><span>{{view.dates[9].label}}</span></td>
                    <td><span>{{view.dates[10].label}}</span></td>
                    <td><span>{{view.dates[11].label}}</span></td>
                    <td><span>{{view.dates[12].label}}</span></td>
                    <td><span>{{view.dates[13].label}}</span></td>
                </tr>
                <tr>
                    <td><span>{{view.dates[14].label}}</span></td>
                    <td><span>{{view.dates[15].label}}</span></td>
                    <td><span>{{view.dates[16].label}}</span></td>
                    <td><span>{{view.dates[17].label}}</span></td>
                    <td><span>{{view.dates[18].label}}</span></td>
                    <td><span>{{view.dates[19].label}}</span></td>
                    <td><span>{{view.dates[20].label}}</span></td>
                </tr>
                <tr>
                    <td><span>{{view.dates[21].label}}</span></td>
                    <td><span>{{view.dates[22].label}}</span></td>
                    <td><span>{{view.dates[23].label}}</span></td>
                    <td><span>{{view.dates[24].label}}</span></td>
                    <td><span>{{view.dates[25].label}}</span></td>
                    <td><span>{{view.dates[26].label}}</span></td>
                    <td><span>{{view.dates[27].label}}</span></td>
                </tr>
                <tr>
                    <td><span>{{view.dates[28].label}}</span></td>
                    <td><span>{{view.dates[29].label}}</span></td>
                    <td><span>{{view.dates[30].label}}</span></td>
                    <td><span>{{view.dates[31].label}}</span></td>
                    <td><span>{{view.dates[32].label}}</span></td>
                    <td><span>{{view.dates[33].label}}</span></td>
                    <td><span>{{view.dates[34].label}}</span></td>
                </tr>
                <tr>
                    <td><span>{{view.dates[35].label}}</span></td>
                    <td><span>{{view.dates[36].label}}</span></td>
                    <td><span>{{view.dates[37].label}}</span></td>
                    <td><span>{{view.dates[38].label}}</span></td>
                    <td><span>{{view.dates[39].label}}</span></td>
                    <td><span>{{view.dates[40].label}}</span></td>
                    <td><span>{{view.dates[41].label}}</span></td>
                </tr>

                </tbody>
            </table>
        </ion-slide>
    </ion-slide-box>
    <!-- <ion-content class="event-detail-container" has-bouncing="false">
        <table class="table table-bordered table-striped table-fixed event-detail-table">
            <tr ng-repeat="event in selectedDate.events" ng-click="eventSelected({event:event})">
                <td ng-if="!event.allDay" class="monthview-eventdetail-timecolumn">{{::event.startTime|date: 'HH:mm'}}
                    -
                    {{::event.endTime|date: 'HH:mm'}}
                </td>
                <td ng-if="event.allDay" class="monthview-eventdetail-timecolumn">All day</td>
                <td class="event-detail">{{::event.title}}</td>
            </tr>
            <tr ng-if="!selectedDate.events">
                <td class="no-event-label">No Events</td>
            </tr>
        </table>
    </ion-content> -->
    </ion-content>
</div>

