<div class="weekview">
	<ion-header-bar class="bar-subheader genie-search-input">
		<!-- <input type="text" class="form-control" id="week-calendar-user-groups"  /> -->
		<!-- <input type="text" class="activity-stream-selected-groups" id="week-calendar-user-groups"/> -->
		<tags-input ng-model="selectedParentFilters" add-from-autocomplete-only="true" 
                  on-tag-added="addParentGroup($tag)"
                  placeholder="Select Childs(s) to filter"
                  on-tag-removed="removeParentGroup($tag)"
                  ng-if="userLoginData.userType=='parent'"
                  on-tag-clicked="removeParentGroup($tag)"
                  display-property="displayName" key-property="id">
              <auto-complete source="loadParentFilters($query)" min-length="0" 
              			load-on-focus="true" load-on-down-arrow="true" load-on-click="true"
                     debounce-delay="0" max-results-to-show="100" highlight-matched-text = "true"></auto-complete>
        </tags-input>
        <!-- <div class="parent-searchbar" ng-if="getUserLoginData().userType=='parent'">
            <button class="tags-label" ng-click="removeParentGroup(group, $index)" ng-touch="removeParentGroup(group, $index)" 
                   ng-repeat="group in selectedParentFilters track by $index">{{group.displayName}} 
                <i class="ion-checkmark"></i>
            </button>
            <button class="tags-label" ng-click="addParentGroup(group, $index)" ng-touch="addParentGroup(group, $index)" 
                  ng-repeat="group in availableParentGroups | showAvailableParentFilters:selectedParentFilters track by $index">{{group.displayName}}<i></i>
            </button>
        </div> -->
        <!-- on-tag-removing="allowGroupRemove(filterGroup)" -->
        <tags-input ng-model="selectedFilterGroups" class="teacher-searchbar" add-from-autocomplete-only="true" 
                  on-tag-added="addFilterGroup($tag)" min-length="2"
                  placeholder="Select Groups(s) to filter"
                  on-tag-removed="removeFilterGroup($tag)"
                  on-tag-clicked="removeFilterGroup($tag)"
                  ng-if="getUserLoginData().userType=='teacher'"
                  display-property="displayGroupName" key-property="id">
              <auto-complete source="loadTeacherFilters($query)" min-length="0" 
                     debounce-delay="0" max-results-to-show="100" load-on-focus="true" load-on-down-arrow="true" load-on-click="true"
                  highlight-matched-text = "true" load-on-empty="true"></auto-complete>
        </tags-input>
		<!-- <input type="text" class="activityGroup-createEvent-selected" id="week-calendar-user-groups"/> -->
	</ion-header-bar>
    <ion-slide-box class="weekview-slide" on-slide-changed="slideChanged($index)" does-continue="true"
		show-pager="false" delegate-handle="weekview-slide">
        <ion-slide ng-repeat="view in views track by $index">
            <table class="table table-fixed weekview-header">
                <thead>
					<tr>
						<th ng-if="checkdeviceOrientation()=='portrait'" class="weekview-header text-center show-cursor" ng-repeat="dt in view.dates" ng-click="goToDate(dt.date)">{{::dt.date| date: formatWeekViewDayHeader | portraitWeekName:checkdeviceOrientation()}}</th>
						<th ng-if="checkdeviceOrientation()=='landscape'" class="weekview-header text-center show-cursor" ng-repeat="dt in view.dates" ng-click="goToDate(dt.date)">{{::dt.date| date: formatWeekViewDayHeader}}</th>
					</tr>
				</thead>
			</table>
            <div ng-if="$index===currentViewIndex">
                <ion-content class="weekview-normal-event-container" has-bouncing="false" overflow-scroll="false">
                    <ion-refresher class="pull-down-refresher" pulling-text="Pull to refresh..." on-refresh="$parent.doRefresh()">
					</ion-refresher>
                    <table class="table table-bordered table-fixed weekview-normal-event-table">
                        <tbody>
							<tr ng-repeat="row in view.rows track by $index">
								<!-- <td ng-repeat="tm in row track by tm.time" class="calendar-cell" ng-click="select(tm.time)"> -->
								<td ng-repeat="tm in row track by tm.time" class="calendar-cell">
									<div ng-class="{'calendar-event-wrap': tm.events}" ng-if="tm.events">
										<div ng-repeat="displayEvent in tm.events track by $index" class="calendar-event" 
											ng-if="userLoginData.userType=='teacher'"
										ng-click="eventSelected(displayEvent.event)" ng-touch="eventSelected(displayEvent.event)">
											<div class="calendar-event-inner week-view-event">
											<p class="gn-feed-content" ng-click="eventSelected(displayEvent.event)" 
													ng-touch="eventSelected(displayEvent.event)">{{displayEvent.event.description}}</p>
                                                <button class="button button-small button-outline" 
                                                		ng-class="{'button-energized':displayEvent.event.activityType=='assignment',
                                                		'button-balanced':displayEvent.event.activityType=='note',
                                                		'button-assertive':displayEvent.event.activityType=='test'}" name="Note" 
												ng-if="displayEvent.event.groupIdList.length<=1"
												ng-repeat="group in groupsData(displayEvent.event.groupIdList) track by $index">{{group.displayGroupName}}</button>

													<!-- multiple-events -->
												<button class="button button-small button-outline" name="Note" 
													ng-class="{'button-energized':displayEvent.event.activityType=='assignment',
                                                		'button-balanced':displayEvent.event.activityType=='note',
                                                		'button-assertive':displayEvent.event.activityType=='test'}"
												ng-if="displayEvent.event.groupIdList.length>=2">{{displayEvent.event.groupIdList.length}} Groups</button>
												<!-- NOTE: ADD CLASS IF MULTIPLE EVENTS ON THE DAT ".multiple-events" -->
                                          </div>
										</div>
									<div ng-repeat="displayEvent in tm.events track by $index" 
										class="calendar-event" ng-if="userLoginData.userType=='parent'"
										ng-click="eventSelected(displayEvent.event)" ng-touch="eventSelected(displayEvent.event)">
											<div class="calendar-event-inner week-view-event">
												<p class="gn-feed-content" ng-click="eventSelected(displayEvent.event)" 
														ng-touch="eventSelected(displayEvent.event)">{{displayEvent.event.description}}</p>
	                                            <button class="button button-small button-outline" 
	                                            	ng-class="{'button-energized':displayEvent.event.activityType=='assignment',
                                                		'button-balanced':displayEvent.event.activityType=='note',
                                                		'button-assertive':displayEvent.event.activityType=='test'}" name="Note"
												ng-if="displayEvent.event.groupIdList.length<=1"
												ng-repeat="group in groupsData(displayEvent.event.groupIdList) track by $index">{{group.displayGroupName}}</button>
												<!-- multiple-events -->
												<button class="button button-small button-outline" 
													ng-class="{'button-energized':displayEvent.event.activityType=='assignment',
                                                		'button-balanced':displayEvent.event.activityType=='note',
                                                		'button-assertive':displayEvent.event.activityType=='test'}" name="Note"
												ng-if="displayEvent.event.groupIdList.length>=2">{{displayEvent.event.groupIdList.length}} Groups</button>
												<!-- NOTE: ADD CLASS IF MULTIPLE EVENTS ON THE DAT ".multiple-events" -->
                                          </div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</ion-content>
			</div>
		</ion-slide>
	</ion-slide-box>
</div>