<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="generator" content="Wyze" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Wyze" />
    <meta name="theme-color" content="#2E3AA1" />
    <meta name="msapplication-TileColor" content="#3372DF" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Wyze" />
    <meta http-equiv="Cache-control" content="public">

    <title>Wyze</title>
    <!-- compiled css output -->
    <link href="css\lib\calendar.min.css" rel="stylesheet" />
    <link href="css\lib\angular-chart.min.css" rel="stylesheet">
    <link href="css\ionic.app.min.css" rel="stylesheet">
    <link href="css\lib\ng-tags-input.bootstrap.min.css" rel="stylesheet">
    <link href="css\lib\ng-tags-input.min.css" rel="stylesheet">
    <link href="css\genieFont.min.css" rel="stylesheet">
    <link href="css\application.css" rel="stylesheet">
    <link href="css\style.css" rel="stylesheet">
    <link href="css\ngProgress\ngProgress.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib\ionic\js\ionic.bundle.js"></script>
    <script src="js\lib\ng-cordova.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script>
      if(!window.cordova){
        if (window.location.protocol != "https:" && window.location.host.search('localhost')==-1 && window.location.host.search('192.168')==-1)
          window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
      }
    </script>
  </head>
  <body class="genieApp">
	<!-- app Header :: start -->
    <header ng-controller="ApplicationHeaderController">
      <div class="bar bar-header gn-page-header" ng-if="stateName != 'user-login' && stateName != 'create-activity' && stateName != 'edit-activity'">
          <section name="genie-header">
              <div class="gn-header-left-action not-single-icon" ng-cloak>
                <button ng-click="goPreviousState()" ng-if="stateName == 'user-roles' && checkUserLogged()==true" class="button button-clear">Cancel</button>
                <button ng-click="goPreviousState()" ng-if="stateName == 'activity-details' || stateName == 'activity-read-users'" class="button button-clear">
                  <i class="icon icon-back-arrow ion-arrow-left-a" >
                  </i>
                </button>
                <a class="gn-header-action" href="#/activity-stream" ng-if="stateName != 'user-roles' && stateName != 'activity-details' && stateName != 'create-activity' && stateName != 'edit-activity' && stateName != 'activity-read-users'" ng-class="(stateName == 'activity-stream') ? 'current' : ''">
                  <img src="img/megaphone.svg" alt="stream">
                </a>
                <a class="gn-header-action" href="#/my-calendar" ng-if="stateName != 'user-roles' && stateName != 'activity-details' && stateName != 'create-activity' && stateName != 'edit-activity' && stateName != 'activity-read-users'"  ng-class="(stateName == 'user-calendar') ? 'current' : ''">
                  <img src="img/calendar.svg" alt="calendar">
                </a>
              </div>
              <!-- <h1 class="title">Genie</h1> -->
               <h1 class="title" ng-cloak>
                  <img ng-src="{{getLogoUrl('logo.svg')}}" alt="Wyze" class="logo"> 
                  <img ng-src="{{getLogoUrl('wyze.svg')}}" alt="Wyze" class="logo-text">
               </h1>
              <div class="gn-header-right-action" ng-class="applyHeaderClasses()" ng-cloak>
                <a class="gn-header-action" href="#/create-activity" ng-if="stateName != 'user-roles' && stateName != 'activity-details' && 
                    stateName != 'create-activity' && stateName != 'edit-activity' && userType=='teacher' && stateName != 'activity-read-users'" ng-class="(stateName == 'create-activity' || stateName == 'edit-activity') ? 'current' : ''" >
                    <img src="img/pencil.svg" alt="edit">
                  </a>
                  <a class="gn-header-action" href="#/switch-roles" ng-if="stateName != 'activity-details' && stateName != 'create-activity' && stateName != 'edit-activity' && stateName != 'activity-read-users'"  ng-class="(stateName == 'user-roles') ? 'current' : ''" >
                    <img src="img/user.svg" alt="role">
                </a>                
              </div>
          </section>
      </div>
    </header>
    <!-- app Header :: ends -->
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view class="gn-nav-view" ></ion-nav-view>
    <footer ng-controller="ApplicationFooterController">
		<div class="genie-login-page-footer genie-page-footer" ng-if="checkFooterData()==true">
			<div class="title">V 1.01</div>
		</div>
	<!--  <div class="bar bar-footer genie-page-footer"  ng-if="stateName != 'user-login'">
        <div class="title">V 1.01</div>
      </div> -->
    </footer>
    <div ng-controller="ApplicationLoaderController">
       <div class="gn-loader-container hidden" id="gn-app-loader">
        <div class="gn-loader">
          <span></span>
          <div class="gn-loader__content">
            <div class="gn-loader__item"><img ng-src="{{getImageUrl('calendar.svg')}}" alt="calendar"></div>
            <div class="gn-loader__item"><img ng-src="{{getImageUrl('note.svg')}}" alt="note"></div>
            <div class="gn-loader__item"><img ng-src="{{getImageUrl('pencil.svg')}}" alt="pencil"></div>
            <!-- <div class="icon-cards__item"><img src="../img/clip.svg" alt="note"></div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="progress-bar-loader"><span></span></div>
   	<!-- calendar.io js -->
    <script src='js\lib\ui-bootstrap-tpls.min.js'></script>
    <script src="js\lib\angular-local-storage.min.js"></script>
    <script src="js\lib\angular-messages.min.js"></script>
    <!-- <script src="lib/ionic-calendar/dist/js/calendar-tpls.js"></script> -->
    <script src="js\lib\ionic-datepicker.bundle.min.js"></script>
    <script src="js\lib\jquery.min.js"></script>
    <script src="js\lib\Chart.min.js"></script>
    <script src="js\lib\angular-chart.min.js"></script>
    <!--
    <script src="lib/token-input/jquery.tokeninput.js"></script>
    -->
    <script src="js\lib\ng-tags-input.js"></script>
    <script src="js\lib\underscore-min.js"></script>
    <script src="js\lib\angular-touch.min.js"></script>
    <script src="js\calendar.min.js"></script>
    <script src="js\lib\ngprogress.min.js"></script>
   	<!-- calendar.io js -->
    <!-- your app's js -->
    <script src="js\common-utils.js"></script>
    <script src="js\app.js"></script>
    <script src="js\controllers.js"></script>
    <script>
      window.userOnline = false;
      window.userOnline = true;
      var jsElm = document.createElement("script");
      jsElm.src = "https://apis.google.com/js/client.js?onload=app_init";
      document.body.appendChild(jsElm);
      /*if(window.cordova || (checkUserOnBrowser() && window.navigator.onLine)){
        $.ajax({
          url: getGapiURL(true) + '/favicon.png',
          timeout:  5000,
          success:function(){
            window.userOnline = true;
            var jsElm = document.createElement("script");
            jsElm.src = "https://apis.google.com/js/client.js?onload=app_init";
            document.body.appendChild(jsElm);
          },
          error: function(xhr) {
            if (xhr.status == 404) {
              window.userOnline = true;
              var jsElm = document.createElement("script");
              jsElm.src = "https://apis.google.com/js/client.js?onload=app_init";
              document.body.appendChild(jsElm);
            }else{
              window.userOnline = false;
              setAppReady()
            }
           }
        });
      }else{
        if(!window.navigator.onLine){
          window.userOnline = false;
          setAppReady()
        }else{
          window.userOnline = true;
          var jsElm = document.createElement("script");
          jsElm.src = "https://apis.google.com/js/client.js?onload=app_init";
          document.body.appendChild(jsElm);
        }
      }*/
    </script>
  </body>
</html>
