/* Styling for the ngProgress itself */
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: rgba(146, 73, 114, 0.95);
    color: rgba(146, 73, 114, 0.95);
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 4px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
    position: fixed;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 99999;
    background-color: #6f6a6a;
}
.progress-bar-loader{
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    display: none;
}
.progress-bar-loader span {
    position: absolute;
    z-index: 999;
    height: 35px;
    left: 2%;
    right: 2%;
    top:45%;
    border-radius: 5px; 
    text-align: center;
    /*margin-right: 10px;
    margin-left: 10px;*/
    background: rgba(146, 73, 114, 0.95);
}