@font-face {
    font-family: 'genieFont';
    src:    url('../fonts/genieFont.eot?jselsu');
    src:    url('../fonts/genieFont.eot?jselsu#iefix') format('embedded-opentype'),
        url('../fonts/genieFont.ttf?jselsu') format('truetype'),
        url('../fonts/genieFont.woff?jselsu') format('woff'),
        url('../fonts/genieFont.svg?jselsu#genieFont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="genie-icon-"], [class*=" genie-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'genieFont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.genie-icon-calendar:before {
    content: "\e902";
}
.genie-icon-megaphone:before {
    content: "\e900";
}
.genie-icon-warning:before {
    content: "\e901";
}

