/* Use to override plugin CSS :: Author: Harish Boke; */



/* date picker customization*/
.genieApp .ionic_datepicker_modal_content {
     background-image: linear-gradient(135deg, #a75377 0%, #753a6a 100%);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}
.genieApp .ionic_datepicker_modal .header .title {
  text-align: center;
    color: #f5a623;
    font-weight: 400;
    position: absolute;
    font-size: 15px;
    z-index: 1;
    text-transform: uppercase;
    //display: none;
}
.genieApp .ionic_datepicker_modal .date_col {
  height: 10vh;
  color: #c4c4c4 !important;
  cursor: pointer;
}
.genieApp .ionic_datepicker_modal .ionic_datepicker_modal {
  margin: 0;
}
.genieApp .ionic_datepicker_modal .date_col span{
    color: #c4c4c4;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 50%;
    border: 2px solid transparent;
    font-size: 18px;
}
.genieApp .ionic_datepicker_modal .pointer_events_none {
  opacity: 0.55;
}
.genieApp .ionic_datepicker_modal .date_col:last-child span,
.genieApp .ionic_datepicker_modal .date_col:nth-child(6) span { 
    color: #f5a623;
}
.genieApp .ionic_datepicker_modal .select_section .col-50 , .genieApp .ionic_datepicker_modal .select_section .col-50 + .col-50 select{ 
  padding: 0;
}
.genieApp .ionic_datepicker_modal .select_section .col-50 + .col-50 .input-label {
  display: none;
}
.genieApp .ionic_datepicker_modal_content .calendar_grid {
}
.genieApp .ionic_datepicker_modal_content .calendar_grid .weeks_row {
  background: rgba(255, 255, 255, 0.15);
  padding:0;
  color: #fff;
  opacity: 0.72;
  margin-bottom: 15px;
}
.genieApp   .ionic_datepicker_modal_content .calendar_grid .weeks_row .font_bold {
  font-weight: 400;
}
.genieApp   .ionic_datepicker_modal_content .calendar_grid .weeks_row .font_bold:nth-child(6),
.genieApp   .ionic_datepicker_modal_content .calendar_grid .weeks_row .font_bold:last-child{
  font-weight: 400;
  color: #f5a623;
}
.genieApp .ionic_datepicker_modal .button-clear {
    color: #fff;
    margin-top: 5px;
}
 .genieApp  .ionic_datepicker_modal .month_select,
 .genieApp  .ionic_datepicker_modal .year_select,
.genieApp   .ionic_datepicker_modal .month_select select,
.genieApp  .ionic_datepicker_modal .year_select select{
    background: none;
    //color:#fff;
    pointer-events:none;
    color: #f5a623;
    padding: 0;
}
.genieApp   .ionic_datepicker_modal .month_select select option,
.genieApp  .ionic_datepicker_modal .year_select select option{
    color:#4a4a4a;
}
.genieApp  .ionic_datepicker_popup .popup-body .selected_date_full,
.genieApp  .ionic_datepicker_popup .popup-buttons button,
.genieApp  .ionic_datepicker_modal .header, .ionic_datepicker_modal .footer,
.genieApp  .ionic_datepicker_modal .button-clear,
.genieApp  .ionic_datepicker_modal .selected_date {
	background-color: #AB6586 !important;
  border: none;
}
.genieApp  .ionic_datepicker_popup .popup-body .month_select, 
.genieApp  .ionic_datepicker_popup .popup-body .year_select,
.genieApp  .ionic_datepicker_modal .month_select,
 .genieApp  .ionic_datepicker_modal .year_select {
	border-bottom: #AB6586;
}
.genieApp  .ionic_datepicker_popup .popup-body .button-clear,
.genieApp  .ionic_datepicker_popup .popup-body .month_select:after, 
.genieApp  .ionic_datepicker_popup .popup-body .year_select:after,
{
	color: #AB6586;
}
.genieApp  .ionic_datepicker_modal .month_select:after, 
.genieApp  .ionic_datepicker_modal .year_select:after{
  color: #fff;
  display: none;
}
.genieApp .ionic_datepicker_popup .col{
	border:1px solid transparent;
	cursor: pointer;
	padding: 4px;
}
.genieApp  .ionic_datepicker_popup .today,
.genieApp  .ionic_datepicker_popup .selected_date {
	background: transparent;
	color: #000;
	border:1px solid #AB6586;
	font-weight: normal;
}
.genieApp  .ionic_datepicker_popup .today {
	color: #AB6586;
}
.genieApp  .ionic_datepicker_popup .popup-body .selected_date_full {
	font-weight: normal;
}
.genieApp .ionic_datepicker_popup .calendar_grid {
	height: 230px;
}
@media (min-width: 680px) {
.genieApp .modal {
    top: 10%;
    right: 20%;
    bottom: 10%;
    left: 20%;
    min-height: 240px;
    width: 60%;
    }
}
/* date picker customization*/
.genieApp .ionic_datepicker_modal .date_col {
  height: 12vh;
  color: #c4c4c4 !important;
  background-color: transparent !important;
}
.genieApp .ionic_datepicker_modal .date_col span{
    color: #c4c4c4;
    display: inline-block;
    padding: 0;
    border-radius: 50%;
    border: 1px solid transparent;
    font-size: 18px;
    font-weight: 400;
    width: 50px;
    height: 50px;
}
.genieApp .ionic_datepicker_modal .selected_date,
.genieApp .ionic_datepicker_modal .today {
  background: none;
  border: none;
}
.genieApp .ionic_datepicker_modal .date_col.selected_date span {
    border-color: #dedede;
}
.genieApp .ionic_datepicker_modal .date_col.today span  {
    border-color: #2EFF19;
}
.genieApp .dayview-slide {
	padding-bottom: 80px;
}
.genieApp  .activityContainer {
	margin-bottom: 5px;
}
.genieApp  .tt-dropdown-menu {
	position: fixed !important;
}

/** Login.html css	*/

.error-container {
  margin: 5px 0;
}

.error-container:last-child {
    margin: 5px 0 0;
}

.error {
  padding: 0px 0px 10px;
  color: #f00;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
  float: right;
  display: none;
}
.item-input {
  padding: 0;
}
.last-error-container > .error {
  padding: 0px 0px 10px;
}
.item-input {
  border-bottom: 2px solid #e2e2e2;
}
.has-errors {
  border-bottom: 2px solid #3e3e58;
}
.no-errors {
  border-bottom: 2px solid green;
}



/* Added by @arun **/

.flex-display{
	display: flex;
}
 .file-input-button:hover{
 	cursor:pointer;
 }
  .file-input-button, .show-cursor{
 	cursor:pointer;
 }
/*.user-completion-data{
  width:100%;
  font-size: 12px;
    font-style: normal;
}*/
.container-completion-status{
  background-color: #FFF;
}
/*.user-completion-data td{
  background: #e7e7e7;
    border: 1px solid #fff;
    padding: 5px;
}*/
/* End of added by @arun  */


 /* for filter : token input :: start*/
 li.token-input-token-facebook {
 	font-family: "Helvetica Neue", "-apple-system", "Roboto", "Segoe UI", sans-serif !important;
 	font-size: 12px;
 	color: #4a4a4a;
    padding: 0px 5px;
    font-size: 12px;
    /*line-height: 15px;*/
    border-radius: 0;
    font-weight: 400;
    height: 24px !important;
    background-color: white;
    border: 1px solid #dedede;
 }
 li.token-input-token-facebook span, li.token-input-token-facebook:hover span {
    color: #a6b3cf;
 }
 ul.token-input-list-facebook {
 	border: 1px solid #a86485;
 	margin-bottom: 5px;
 	padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 16px;
    font-family: "Helvetica Neue", "-apple-system", "Roboto", "Segoe UI", sans-serif !important;
 }
 .list ul.token-input-list-facebook {
    margin: 0;
    padding: 0;
 }
 .list  li.token-input-token-facebook {
    margin: 7px 3px;
 }
 .genie-search-input ul.token-input-list-facebook {
    border:none;
 }
/* li.token-input-focused-token-facebook,
 li.token-input-highlighted-token-facebook,
 li.token-input-selected-token-facebook {
 	background-color: #a86485;
 }
*/ li.token-input-focused-token-facebook span,
 li.token-input-highlighted-token-facebook span,
 li.token-input-selected-token-facebook span{
 	color:#fff;
 }
 
 /* for filter : token input :: ends*/

.genieApp div.token-input-dropdown-facebook {
  /*width: 100% !important;*/
  background: #fff;
}
.genieApp  div.token-input-dropdown-facebook ul li {
    border-bottom: 1px solid #e2dfdf;
    color: #4a4a4a;
    padding: 10px;
    font-size: 16px;
    font-family: "Helvetica Neue", "-apple-system", "Roboto", "Segoe UI", sans-serif !important;
      background: none; 
 }
/*.genieApp .popup-container {
  -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    &.active {
        -ms-transform: translate(50px,100px); 
        -webkit-transform: translate(50px,100px); 
        transform: translate(50px,100px);
    }
}*/
/*@-webkit-keyframes slideUp {
    0%   {bottom: 0px;}
  
    100% {bottom: 150px;}
}

@keyframes slideUp {
    0%   {bottom: 0px;}
  
    100% {bottom: 150px;}
}
.popup-container.active{
  bottom:0px;
}
       .popup-container.active {
          -webkit-animation-name: slideUp;
          animation-name: slideUp;
          -webkit-animation-duration: 2s;
          animation-duration: 2s;
          -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
      }*/
 .genieApp .popup-container .popup {
    width: calc(100% - 2px);
    color: #4a4a4a;
    margin: 0px 1px;
    background: #fff;
    border: 1px solid #9e4e74;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    
 }
 .genieApp .popup-container .popup .popup-head {
    display: none;
 }
 .genieApp .popup-container .popup .popup-body {
    display: inline-block;

 }
  .genieApp .popup-container .popup .popup-buttons {
    display: inline-block;
    min-height: 20px;
 }
 .genieApp .popup-container .popup-buttons .button {
    display: inline-block;
    float: right;
    margin-left: 5px;
 }
  .genieApp .popup-container .popup-buttons .button {
    display: inline-block;
    float: right;
    margin-left: 5px;
    font-size: 14px;
    line-height: 17px;
    min-height: 20px;
    height: 30px;
    border-radius: 2px;
    background-color: rgba(153, 153, 153, 0.2);
    border: 1px solid #979797;
    color: #4a4a4a;
 }
  .genieApp .popup-container .popup-buttons .button.button-positive {
    background:#813F6D;
    color:#fff;
    border-color: transparent;
    background-color: #8f4771;
 }
/*ionic loader :: ends*/
.genieApp .backdrop {
  background: rgba(0, 0, 0, 0.6);
}
/*ionic loader :: ends*/
 /*ionic toast :: starts*/
  .genieApp .ionic_toast {
  background-color: rgba(255,255,255,0.9);
  border: 1px solid #9e4e74;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #4a4a4a;
  margin: 0;
  bottom: 5px;
}
/*ionic toast :: ends*/

.hide-month-dates{
  visibility: hidden;
}

/*Disabling platform specific tweaks */
.platform-ios.platform-cordova:not(.fullscreen) .bar-header
{
    height: 44px !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)
{
    height: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper
{
    margin-top: 0px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > *
{
    margin-top: 0px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .tabs-top > .tabs, .platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top
{
    top: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader
{
    top: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-subheader {
    top: 88px !important;
}

/*ios specific */
.platform-ios .gn-page-header,
.platform-ipad .gn-page-header,
.platform-macintel .gn-page-header,
.platform-ios.platform-cordova .gn-page-header{
    max-height:44px !important;
}
.platform-ios .gn-activity-detail-view .scroll-content,
.platform-macintel .gn-activity-detail-view .scroll-content,
.platform-ipad .gn-activity-detail-view .scroll-content,
.platform-ios.platform-cordova .gn-activity-detail-view .scroll-content,
.platform-ios .calendar-tabs,
.platform-ipad .calendar-tabs,
.platform-macintel .calendar-tabs,
.platform-ios.platform-cordova .calendar-tabs{
    margin-top:44px !important;
}
.platform-ios .dayview .scroll-content,
.platform-ipad .dayview .scroll-content,
.platform-macintel .dayview .scroll-content,
.platform-ios.platform-cordova .dayview .scroll-content,
.platform-ios .weekview .scroll-content,
.platform-ipad .weekview .scroll-content,
.platform-macintel .weekview .scroll-content,
.platform-ios.platform-cordova .weekview .scroll-content
{
    top:38px !important;
}
.platform-ios .dayview .genie-search-input,
.platform-ipad .dayview .genie-search-input,
.platform-macintel .dayview .genie-search-input,
.platform-ios.platform-cordova .dayview .genie-search-input,
.platform-ios .weekview .genie-search-input,
.platform-ipad .weekview .genie-search-input,
.platform-macintel .weekview .genie-search-input,
.platform-ios.platform-cordova .weekview .genie-search-input,
.platform-ios .monthview.no-searchbar .activityContainer,
.platform-ipad .monthview.no-searchbar .activityContainer,
.platform-macintel .monthview.no-searchbar .activityContainer,
.platform-ios.platform-cordova .monthview.no-searchbar .activityContainer,
.platform-macintel .month-title,
.platform-ipad .month-title,
.platform-ios  .month-title,
.platform-ios.platform-cordova .month-title
{
    top:88px !important;
}
.platform-ios.platform-cordova .weekview-header,
.platform-ios .weekview-header,
.platform-ipad  .weekview-header,
.platform-macintel .weekview-header{
    margin-top:6px;
}

/*ios specific */
/* browser specific */
@media screen and (min-width:762px) {
    .platform-desktop.platform-browser ion-view ion-content{
      overflow-y: auto !important;
    }
    .platform-desktop.platform-browser ion-view ion-content.gn-calendar-view {
      overflow-y:hidden !important;
      }
     .platform-desktop.platform-browser ion-view ion-content.gn-calendar-view ion-content {
        overflow-y:auto !important;
      }
      .platform-desktop.platform-browser ion-view ion-content.gn-calendar-view .monthview ion-content {
        overflow-y:hidden !important;
      }

}
/* browser specific */
.gn-header-left-action.not-single-icon, .gn-header-right-action.not-single-icon {
	max-width:120px;
  min-width:100px;
}

.genie-date-picker.start-date{
  cursor: pointer;
}
.pre-line-content{
  word-break: normal !important;
  white-space: pre-line !important;
}
.user-completion-table-wrapper{
  overflow-x: auto;
  width: calc(100% - 20px);
  margin: 10px;
  background: #fff;
}